@import "../Globals";
@import "../Mixins";

@include BREAKPOINT($DEFAULT_BREAKPOINT) {
  .alert-container > .placement {
    width: 100%;
    height: 100%;
  }

  .alert-container > .placement > .alert-id {
    min-width: 0;
  }

  .alert-container > .placement[data-alert-placement^="bottom-"],
  .alert-container > .placement[data-alert-placement^="center-"],
  .alert-container > .placement[data-alert-placement$="-right"],
  .alert-container > .placement[data-alert-placement$="-center"] {
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
  }
}

@include BREAKPOINT($BP_SMARTPHONE) {
  .alert-container > .placement > .alert-id {
    width: 100%;
  }

  .alert-container > .placement > .alert-id > .alert-wrapper > .alert-footer {
    display: grid;
    grid-gap: $DEFAULT_PADDING_WIDTH;
    grid-template-columns: 100%;
  }
}