@import "../globals";
@import "../mixins";

@include BREAKPOINT($BP_TABLET, 'from') {

  .container {
    width: map_get($RESPONSIVE_BREAKPOINTS, $BP_TABLET);
  }
}

@include BREAKPOINT($BP_TABLET_FULLSCREEN, 'from') {
  .container {
    width: map_get($RESPONSIVE_BREAKPOINTS, $BP_TABLET_FULLSCREEN);
  }
}

@include BREAKPOINT($BP_DESKTOP, 'from') {
  .container {
    width: map_get($RESPONSIVE_BREAKPOINTS, $BP_DESKTOP);
  }
}

@include BREAKPOINT($BP_DESKTOP_FULLSCREEN, 'from') {
  .container {
    width: map_get($RESPONSIVE_BREAKPOINTS, $BP_DESKTOP_FULLSCREEN);
  }
}

@include BREAKPOINT($DEFAULT_BREAKPOINT_FULLWIDTH) {
  .container {
    width: 100%;
    padding: {
      left: $RESPONSIVE_PADDING_WIDTH;
      right: $RESPONSIVE_PADDING_WIDTH;
    }
  }

  .absolute.absolute-static {
    position: static;
  }

  .fixed.fixed-static {
    position: static;
  }

  .absolute-i.absolute-static {
    position: static !important;
  }

  .fixed-i.fixed-static {
    position: static !important;
  }

  @for $i from 1 through 6 {
    $h-loop-div: 7 - $i;

    h#{$i},.h#{$i} {
      $h-loop: 1px * ($DEFAULT_DIVIDER + ($h-loop-div * $DEFAULT_DIVIDER)) * 1.5;
      font-size: $h-loop;
      line-height: $h-loop + 8;
    }

  }
}