@import "../mixins";

@each $responsive-loop-key, $responsive-loop-val in $RESPONSIVE_BREAKPOINTS {
  @include BREAKPOINT($responsive-loop-key, 'from') {
    .breakpoint-#{$responsive-loop-key}-from {
      width: 100%;
      display: block;
      grid-template-columns: 100%;
      grid-column: unset;
    }

    .breakpoint-#{$responsive-loop-key}-from-i {
      width: 100% !important;
      display: block !important;
      grid-template-columns: 100% !important;
      grid-column: unset !important;
    }
  }
}

@each $responsive-loop-key, $responsive-loop-val in $RESPONSIVE_BREAKPOINTS {
  @include BREAKPOINT($responsive-loop-key, 'equal') {
    .breakpoint-#{$responsive-loop-key} {
      width: 100%;
      display: block;
      grid-template-columns: 100%;
      grid-column: unset;
    }

    .breakpoint-#{$responsive-loop-key}-i {
      width: 100% !important;
      display: block !important;
      grid-template-columns: 100% !important;
      grid-column: unset !important;
    }
  }
}

@each $responsive-loop-key, $responsive-loop-val in $RESPONSIVE_BREAKPOINTS_MAX {
  @include BREAKPOINT($responsive-loop-key) {
    .breakpoint-#{$responsive-loop-key}-to {
      width: 100%;
      display: block;
      grid-template-columns: 100%;
      grid-column: unset;
    }

    .breakpoint-#{$responsive-loop-key}-to-i {
      width: 100% !important;
      display: block !important;
      grid-template-columns: 100% !important;
      grid-column: unset !important;
    }
  }
}