@import "../Globals";
@import "../Mixins";

@include BREAKPOINT($DEFAULT_BREAKPOINT) {
  .confirm-container > .placement {
    width: 100%;
    height: 100%;
  }

  .confirm-container > .placement > .confirm-id {
    min-width: 0;
  }

  .confirm-container > .placement[data-confirm-placement^="bottom-"],
  .confirm-container > .placement[data-confirm-placement^="center-"],
  .confirm-container > .placement[data-confirm-placement$="-right"],
  .confirm-container > .placement[data-confirm-placement$="-center"] {
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
  }
}

@include BREAKPOINT($BP_SMARTPHONE) {
  .confirm-container > .placement > .confirm-id {
    width: 100%;
  }

  .confirm-container > .placement > .confirm-id > .confirm-wrapper > .confirm-footer {
    display: grid;
    grid-gap: $DEFAULT_PADDING_WIDTH;
    grid-template-columns: 100%;
  }
}