@import "../mixins";
@import "../globals";

@include BREAKPOINT($BP_SMARTPHONE) {
  .datepicker > .datepicker-wrapper > .datepicker-block {
    width: 100%;
  }

  .datepicker > .datepicker-wrapper > .datepicker-block > .block-date > .middle > .daylist {
    grid-template-columns: repeat(auto-fill, minmax($INPUT_DEFAULT_HEIGHT, 1fr));
  }
}

@include BREAKPOINT($BP_PHONE) {
  .datepicker > .datepicker-wrapper > .datepicker-block > .block-date > .top,
  .datepicker > .datepicker-wrapper > .datepicker-block[data-datepicker-type="datetime"] > .block-date > .footer {
    grid-gap: ($DEFAULT_DIVIDER * 2px);
    grid-template-columns: 100%;
  }
}