@import "../mixins";
@import "../globals";

@include BREAKPOINT($DEFAULT_BREAKPOINT_FULLWIDTH) {

  .modal {
    padding: $RESPONSIVE_PADDING_WIDTH;
  }

  .modal > .wrapper {
    width: 100%;
    padding: 0 $RESPONSIVE_PADDING_WIDTH;
    height: calc(100vh - #{$RESPONSIVE_PADDING_WIDTH * 2});
  }

  .modal > .wrapper > .modal-content > .modal-footer {
    padding-top: $RESPONSIVE_PADDING_WIDTH;
  }
}