@import "../Mixins";
@import "../Palette";
@import "../Globals";

$NAVBAR_HEIGHT: $DEFAULT_DIVIDER * 20px;

@include BREAKPOINT($BP_TABLET_FULLSCREEN) {
  .navbar .navbar-container {
    flex-wrap: wrap;
    padding-top: $DEFAULT_DIVIDER * 3px;
    padding-bottom: $DEFAULT_DIVIDER * 3px;
    gap: $DEFAULT_DIVIDER * 3px;
  }

  .navbar .navbar-container:not(.container) {
    padding-left: $DEFAULT_DIVIDER * 3px;
    padding-right: $DEFAULT_DIVIDER * 3px;
  }




  /* Nav wrapper + */

  .navbar .navbar-container > .navbar-wrapper {
    display: none;
    width: 100%;
  }

  .navbar.navbar-active .navbar-container > .navbar-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: $DEFAULT_DIVIDER * 3px;
  }

  .navbar .navbar-container > .navbar-wrapper > .nav-left,
  .navbar .navbar-container > .navbar-wrapper > .nav-center,
  .navbar .navbar-container > .navbar-wrapper > .nav-right {
    display: block;
    margin: 0;
  }

  .navbar .navbar-container > .navbar-wrapper .navbar-menu {
    display: grid;
    grid-gap: $DEFAULT_DIVIDER * 3px;
    grid-template-columns: 100%;
  }

  /* Nav wrapper - */




  /* Nav menu items + */

  .navbar .navbar-container > .navbar-wrapper .navbar-menu > .nav-item {
    display: grid;
    grid-template-columns: 100%;
  }

  .navbar .navbar-container > .navbar-wrapper .navbar-menu > .nav-item > .nav-link {
    padding: $DEFAULT_DIVIDER * 4px;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .navbar .navbar-container > .navbar-wrapper .navbar-menu > .nav-item > .nav-link:after {
    display: none;
  }

  .navbar .navbar-container > .navbar-wrapper .navbar-menu > .nav-item.active > .nav-link,
  .navbar .navbar-container > .navbar-wrapper .navbar-menu > .nav-item:active > .nav-link,
  .navbar .navbar-container > .navbar-wrapper .navbar-menu > .nav-item:hover > .nav-link {
    background-color: rgba(0,0,0,0.04);
  }

  /* Nav menu items - */




  /* Nav item brand + */

  .navbar .navbar-container > .nav-brand {
    font-size: $DEFAULT_FONT_SIZE + 4;
  }

  /* Nav item brand - */




  /* Nav collapse trigger + */

  .navbar .navbar-container > .nav-mobile {
    display: flex;
  }

  /* Nav collapse trigger - */


  .navbar .navbar-wrapper .navbar-menu > li.dropdown .dropdown-list {
    position: static;
    width: 100%;
    box-shadow: none;
    margin-top: $DEFAULT_DIVIDER * 3px;
    padding-bottom: 0;
  }


  /*******************************************
  *
  * Text light theme
  *
  *******************************************/

  .navbar.navbar-text-light .navbar-container > .nav-mobile {
    color: map_get($PALETTE, 'gray-600');
  }

  .navbar.navbar-text-light .navbar-container > .nav-mobile .nav-mobile-bars {
    background-color: map_get($PALETTE, 'gray-600');
  }

  .navbar.navbar-text-light .navbar-container > .nav-mobile .nav-mobile-bars:before,
  .navbar.navbar-text-light .navbar-container > .nav-mobile .nav-mobile-bars:after {
    background-color: map_get($PALETTE, 'gray-600');
  }

  .navbar.navbar-text-light.navbar-active .navbar-container > .nav-mobile,
  .navbar.navbar-text-light .navbar-container > .nav-mobile:hover,
  .navbar.navbar-text-light .navbar-container > .nav-mobile:active {
    background-color: rgba(0,0,0,0.1);
  }

  .navbar.navbar-text-light .navbar-container > .navbar-wrapper .navbar-menu > .nav-item.active > .nav-link,
  .navbar.navbar-text-light .navbar-container > .navbar-wrapper .navbar-menu > .nav-item:active > .nav-link,
  .navbar.navbar-text-light .navbar-container > .navbar-wrapper .navbar-menu > .nav-item:hover > .nav-link {
    background-color: rgba(0,0,0,0.1);
  }
}