@import "../mixins";
@import "../palette";
@import "../globals";

@include BREAKPOINT($BP_TABLET_FULLSCREEN) {
  .navbar {
    height: auto;
  }

  .navbar .navbar-wrapper {
    display: block;
  }

  .navbar .navbar-wrapper > .nav-center,
  .navbar .navbar-wrapper > .nav-right {
    display: none;
  }

  .navbar.open .navbar-wrapper > .nav-center,
  .navbar.open .navbar-wrapper > .nav-right,
  .navbar .navbar-wrapper > .nav-left,
  .navbar .navbar-wrapper .navbar-menu,
  .navbar .navbar-wrapper .nav-item,
  .navbar .navbar-wrapper .nav-link,
  .navbar .navbar-wrapper .navbar-menu > li {
    display: block;
    width: 100%;
  }

  .navbar .navbar-wrapper > .nav-center,
  .navbar .navbar-wrapper > .nav-right {
    padding: $DEFAULT_PADDING_WIDTH;
  }

  .navbar .navbar-wrapper > .nav-right {
    padding-top: 0;
  }

  .navbar .navbar-wrapper > .nav-center,
  .navbar .navbar-wrapper .navbar-menu {
    padding-bottom: 0;
  }

  .navbar .navbar-wrapper .nav-mobile {
    display: inline-block;
  }

  .navbar .navbar-wrapper .nav-submenu {
    position: static;
    width: 100%;
    box-shadow: none;
    background-color: rgba(0,0,0,0.04);
  }

  .navbar .navbar-wrapper .nav-submenu .nav-item,
  .navbar .navbar-wrapper .nav-submenu .nav-link {
    color: map_get($PALETTE, 'gray-600');
  }

  .navbar .navbar-wrapper .nav-item,
  .navbar .navbar-wrapper .nav-link {
    line-height: $DEFAULT_DIVIDER * 16px - 1;
    height: $DEFAULT_DIVIDER * 16px;
    padding: 0 $DEFAULT_PADDING_WIDTH;
  }

  .navbar .navbar-wrapper .nav-link:after {
    display: none;
  }

  .navbar .navbar-wrapper .navbar-menu > li > .nav-submenu:before {
    display: none;
  }

  .navbar.open .navbar-wrapper .nav-mobile,
  .navbar .navbar-wrapper .nav-mobile:hover,
  .navbar .navbar-wrapper .nav-mobile:active,
  .navbar .navbar-wrapper .nav-link:active,
  .navbar .navbar-wrapper .nav-link.active,
  .navbar .navbar-wrapper .nav-link:hover {
    background-color: rgba(0,0,0,0.04);
  }

  .navbar.open.navbar-text-light  .navbar-wrapper .nav-mobile,
  .navbar.navbar-text-light  .navbar-wrapper .nav-mobile:hover,
  .navbar.navbar-text-light  .navbar-wrapper .nav-mobile:active,
  .navbar.navbar-text-light .navbar-wrapper .nav-link:hover,
  .navbar.navbar-text-light .navbar-wrapper .nav-link:active,
  .navbar.navbar-text-light .navbar-wrapper .nav-link.active {
    background-color: rgba(255,255,255,0.1);
  }

  .navbar.navbar-text-light .navbar-wrapper .nav-submenu .nav-link:hover,
  .navbar.navbar-text-light .navbar-wrapper .nav-submenu .nav-link:active,
  .navbar.navbar-text-light .navbar-wrapper .nav-submenu .nav-link.active {
    background-color: rgba(255,255,255,0.1);
    color: #fff;
  }
}

@include BREAKPOINT($DEFAULT_BREAKPOINT_FULLWIDTH) {
  .navbar .navbar-wrapper > .nav-center,
  .navbar .navbar-wrapper > .nav-right {
    padding: $RESPONSIVE_PADDING_WIDTH;
  }

  .navbar .navbar-wrapper .nav-item,
  .navbar .navbar-wrapper .nav-link {
    padding: 0 $RESPONSIVE_PADDING_WIDTH;
  }
}

@include BREAKPOINT($BP_SMARTPHONE) {
  .navbar .navbar-wrapper .nav-brand {
    font-size: $DEFAULT_FONT_SIZE + 6;
  }
}

@include BREAKPOINT($BP_PHONE) {
  .navbar .navbar-wrapper .nav-brand {
    display: none;
  }

  .navbar .navbar-wrapper {
    padding-top: $DEFAULT_DIVIDER * 20px;
  }

  .navbar .navbar-wrapper .nav-mobile {
    width: $DEFAULT_DIVIDER * 20px;
    position: absolute;
    top: 0;
    right: 0;
  }
}