@import "../globals";
@import "../mixins";

@include BREAKPOINT($DEFAULT_BREAKPOINT_FULLWIDTH) {
  .tabs > .tab-links {
    padding: $DEFAULT_DIVIDER * 2px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: $DEFAULT_DIVIDER * 2px;
  }

  .tabs > .tab-links > li {
    display: block;
  }

  .tabs > .tab-links > li > .tab-link {
    line-height: $DEFAULT_DIVIDER * 10px;
    height: $DEFAULT_DIVIDER * 10px;
    min-width: $DEFAULT_DIVIDER * 10px;
    padding: 0 ($DEFAULT_DIVIDER * 3px);
    width: 100%;
    display: block;
  }

  .tabs > .tab-links > li > .tab-link:hover,
  .tabs > .tab-links > li > .tab-link.active {
    border: 0;
    background-color: rgba(0,0,0,0.1);
  }

  .tabs.tabs-horizontal {
    grid-template-columns: 100%;
  }

  .tabs > .tab-links > li .tab-link:hover,
  .tabs > .tab-links > li .tab-link.active {
    border: 0;
  }
}