@import "../Globals";
@import "../Mixins";

@include BREAKPOINT($DEFAULT_BREAKPOINT_FULLWIDTH) {
  .tabs > .tab-links {
    grid-template-columns: 100%;
  }

  .tabs.tabs-horizontal {
    grid-template-columns: 100%;
  }

  .tabs > .tab-links,
  .tabs.tabs-horizontal > .tab-links {
    border-radius: $DEFAULT_BORDER_RADIUS $DEFAULT_BORDER_RADIUS 0 0;
    padding: $DEFAULT_DIVIDER * 3px;
    display: flex;
    gap: 8px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tabs > .tab-links > li,
  .tabs.tabs-horizontal > .tab-links > li {
    flex-shrink: 0;
    flex-grow: 1;
    width: auto;
  }

  .tabs > .tab-links > li .tab-link,
  .tabs.tabs-horizontal > .tab-links > li .tab-link{
    min-height: $DEFAULT_DIVIDER * 12px;
    min-width: $DEFAULT_DIVIDER * 12px;
    border: none;
    border-radius: $DEFAULT_BORDER_RADIUS;
    background-color: rgba(0,0,0,0.1);
    padding: $DEFAULT_DIVIDER * 2px $DEFAULT_DIVIDER * 7px;
  }

  .tabs > .tab-links > li .tab-link:hover,
  .tabs.tabs-horizontal > .tab-links > li .tab-link:hover {
    background-color: rgba(0,0,0,0.2);
  }

  .tabs > .tab-links > li .tab-link.active,
  .tabs.tabs-horizontal > .tab-links > li .tab-link.active {
    background-color: rgba(0,0,0,0.4);
    border: none;
  }

  .tabs > .tab-links > li .tab-link:after,
  .tabs.tabs-horizontal > .tab-links > li .tab-link:after {
    display: none;
  }
}