> 1%
last 2 major versions
not dead
Chrome > 56
Android >= 6
ChromeAndroid >= 81
Firefox > 51
FirefoxAndroid >= 83
Edge >= 12
IE >= 10
iOS >= 10
Safari >= 10
Opera > 43
OperaMini <= 0
OperaMobile >= 59
Samsung >= 6
UCAndroid >= 12
kaios >= 2