@media (min-width: 768px) {
	.container {
		width: 748px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 952px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1180px;
	}
}

@media (min-width: 1400px) {
	.container {
		width: 1380px;
	}
}

@media (max-width: 1399px) {
	.breakpoint-1400 {
		width: 100%;
		display: block;
		grid-template-columns: 100%;
		grid-column: unset;
	}

	.breakpoint-1400-i {
		width: 100% !important;
		display: block !important;
		grid-template-columns: 100% !important;
		grid-column: unset !important;
	}
}

@media (max-width: 1199px) {
	.breakpoint-1200 {
		width: 100%;
		display: block;
		grid-template-columns: 100%;
		grid-column: unset;
	}

	.breakpoint-1200-i {
		width: 100% !important;
		display: block !important;
		grid-template-columns: 100% !important;
		grid-column: unset !important;
	}

}

@media (max-width: 991px) {
	.breakpoint-992 {
		width: 100%;
		display: block;
		grid-template-columns: 100%;
		grid-column: unset;
	}

	.breakpoint-992-i {
		width: 100% !important;
		display: block !important;
		grid-template-columns: 100% !important;
		grid-column: unset !important;
	}

}

@media (max-width: 767px) {
	.breakpoint-768 {
		width: 100%;
		display: block;
		grid-template-columns: 100%;
		grid-column: unset;
	}

	.breakpoint-768-i {
		width: 100% !important;
		display: block !important;
		grid-template-columns: 100% !important;
		grid-column: unset !important;
	}

	.container {
		width: 100%;
	}

	.absolute.absolute-static {
		position: static;
	}

	.fixed.fixed-static {
		position: static;
	}

	.absolute-i.absolute-static {
		position: static !important;
	}

	.fixed-i.fixed-static {
		position: static !important;
	}
}

@media (max-width: 479px) {
	.breakpoint-480 {
		width: 100%;
		display: block;
		grid-template-columns: 100%;
		grid-column: unset;
	}

	.breakpoint-480-i {
		width: 100% !important;
		display: block !important;
		grid-template-columns: 100% !important;
		grid-column: unset !important;
	}
}

@media (max-width: 319px) {
	.breakpoint-320 {
		width: 100%;
		display: block;
		grid-template-columns: 100%;
		grid-column: unset;
	}

	.breakpoint-320-i {
		width: 100% !important;
		display: block !important;
		grid-template-columns: 100% !important;
		grid-column: unset !important;
	}
}