@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext');

* { margin: 0; padding: 0; font-family: 'Roboto', sans-serif; }

body {
	font-size: 14px;
	color: #424242;
	min-height: 100vh;
	word-break: break-word;
	word-wrap: break-word;
}

div, form, footer, header, a, ul, ol, li, header, input, button, textarea, label, select, table {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #03A9F4;
}

h1,.h1 {
	font-size: 56px;
	line-height: 56px;
}

h2,.h2 {
	font-size: 48px;
	line-height: 48px;
}

h3,.h3 {
	font-size: 40px;
	line-height: 40px;
}

h4,.h4 {
	font-size: 32px;
	line-height: 32px;
}

h5,.h5 {
	font-size: 24px;
	line-height: 24px;
}

h6,.h6 {
	font-size: 16px;
	line-height: 16px;
}

.min-height-100 {
	min-height: 100vh;
}

.min-height-50 {
	min-height: 50vh;
}

.window {
	display: block;
	width: 100%;
	background-color: #fff;
	color: #212121;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
	border-radius: 2px;
}

.none,.d-none { display: none; }
.inline-block,.d-inline-block { display: inline-block; }
.block,.d-block { display: block; }
.inline,.d-inline { display: inline; }
.grid,.d-grid { display: grid; }
.inline-grid,.d-inline-grid { display: inline-grid; }
.flex,.d-flex { display: flex; }
.inline-flex,.d-inline-flex { display: inline-flex; }

.none-i,.d-none-i { display: none !important; }
.inline-block-i,.d-inline-block-i { display: inline-block !important; }
.block-i,.d-block-i { display: block !important; }
.inline-i,.d-inline-i { display: inline !important; }
.grid-i,.d-grid-i { display: grid !important; }
.inline-grid-i,.d-inline-grid-i { display: inline-grid !important; }
.flex-i,.d-flex-i { display: flex !important; }
.inline-flex-i,.d-inline-flex-i { display: inline-flex !important; }

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1180px;
	padding-left: 20px;
	padding-right: 20px;
}

.of-hidden { overflow: hidden; }
.of-visible { overflow: visible; }
.of-auto { overflow: auto; }
.of-scroll { overflow: scroll; }
.of-hidden-i { overflow: hidden !important; }
.of-visible-i { overflow: visible !important; }
.of-auto-i { overflow: auto !important; }
.of-scroll-i { overflow: scroll !important; }

.of-x-hidden { overflow-x: hidden; }
.of-x-visible { overflow-x: visible; }
.of-x-auto { overflow-x: auto; }
.of-x-scroll { overflow-x: scroll; }
.of-x-hidden-i { overflow-x: hidden !important; }
.of-x-visible-i { overflow-x: visible !important; }
.of-x-auto-i { overflow-x: auto !important; }
.of-x-scroll-i { overflow-x: scroll !important; }

.of-y-hidden { overflow-y: hidden; }
.of-y-visible { overflow-y: visible; }
.of-y-auto { overflow-y: auto; }
.of-y-scroll { overflow-y: scroll; }
.of-y-hidden-i { overflow-y: hidden !important; }
.of-y-visible-i { overflow-y: visible !important; }
.of-y-auto-i { overflow-y: auto !important; }
.of-y-scroll-i { overflow-y: scroll !important; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-upper { text-transform: uppercase; }
.text-lower { text-transform: lowercase; }
.text-bold { font-weight: bold; }
.text-italic { font-style: italic; }
.text-justify { text-align: justify; }
.text-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.text-center-i { text-align: center !important; }
.text-left-i { text-align: left !important; }
.text-right-i { text-align: right !important; }
.text-upper-i { text-transform: uppercase !important; }
.text-bold-i { font-weight: bold !important; }
.text-italic-i { font-style: italic !important; }
.text-lower-i { text-transform: lowercase !important; }
.text-justify-i { text-align: justify !important; }
.text-overflow-i {
	overflow: hidden !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
}

.weight-100 { font-weight: 100; }
.weight-200 { font-weight: 200; }
.weight-300 { font-weight: 300; }
.weight-400,
.weight-normal { font-weight: 400; }
.weight-500 { font-weight: 500; }
.weight-600,
.weight-bold { font-weight: 600; }
.weight-700 { font-weight: 700; }
.weight-800 { font-weight: 800; }
.weight-900 { font-weight: 900; }

.weight-100-i { font-weight: 100 !important; }
.weight-200-i { font-weight: 200 !important; }
.weight-300-i { font-weight: 300 !important; }
.weight-400-i,
.weight-normal-i { font-weight: 400 !important; }
.weight-500-i { font-weight: 500 !important; }
.weight-600-i,
.weight-bold-i { font-weight: 600 !important; }
.weight-700-i { font-weight: 700 !important; }
.weight-800-i { font-weight: 800 !important; }
.weight-900-i { font-weight: 900 !important; }

.cursor-none { cursor: none; }
.cursor-auto { cursor: auto; }
.cursor-default { cursor: default; }
.cursor-pointer { cursor: pointer; }
.cursor-progress { cursor: progress; }
.cursor-help { cursor: help; }
.cursor-move { cursor: move; }
.cursor-text { cursor: text; }
.cursor-cell { cursor: cell; }
.cursor-crosshair { cursor: crosshair; }
.cursor-alias { cursor: alias; }
.cursor-vertical-text { cursor: vertical-text; }
.cursor-copy { cursor: copy; }
.cursor-no-drop { cursor: no-drop; }
.cursor-all-scroll { cursor: all-scroll; }
.cursor-col-resize { cursor: col-resize; }
.cursor-row-resize { cursor: row-resize; }
.cursor-nesw-resize { cursor: nesw-resize; }
.cursor-nwse-resize { cursor: nwse-resize; }
.cursor-n-resize { cursor: n-resize; }
.cursor-e-resize { cursor: e-resize; }
.cursor-nw-resize { cursor: nw-resize; }
.cursor-grab { cursor: grab; }
.cursor-grabbing { cursor: grabbing; }
.cursor-zoom-in { cursor: zoom-in; }
.cursor-zoom-out { cursor: zoom-out; }

.cursor-none-i { cursor: none !important; }
.cursor-auto-i { cursor: auto !important; }
.cursor-default-i { cursor: default !important; }
.cursor-pointer-i { cursor: pointer !important; }
.cursor-progress-i { cursor: progress !important; }
.cursor-help-i { cursor: help !important; }
.cursor-move-i { cursor: move !important; }
.cursor-text-i { cursor: text !important; }
.cursor-cell-i { cursor: cell !important; }
.cursor-crosshair-i { cursor: crosshair !important; }
.cursor-alias-i { cursor: alias !important; }
.cursor-vertical-text-i { cursor: vertical-text !important; }
.cursor-copy-i { cursor: copy !important; }
.cursor-no-drop-i { cursor: no-drop !important; }
.cursor-all-scroll-i { cursor: all-scroll !important; }
.cursor-col-resize-i { cursor: col-resize !important; }
.cursor-row-resize-i { cursor: row-resize !important; }
.cursor-nesw-resize-i { cursor: nesw-resize !important; }
.cursor-nwse-resize-i { cursor: nwse-resize !important; }
.cursor-n-resize-i { cursor: n-resize !important; }
.cursor-e-resize-i { cursor: e-resize !important; }
.cursor-nw-resize-i { cursor: nw-resize !important; }
.cursor-grab-i { cursor: grab !important; }
.cursor-grabbing-i { cursor: grabbing !important; }
.cursor-zoom-in-i { cursor: zoom-in !important; }
.cursor-zoom-out-i { cursor: zoom-out !important; }

.align-items-start { align-items: start; }
.align-items-center, .align-items-middle { align-items: center; }
.align-items-end { align-items: end; }

.align-items-start-i { align-items: start !important; }
.align-items-center-i, .align-items-middle-i { align-items: center !important; }
.align-items-end-i { align-items: end !important; }


.v-align-top { vertical-align: top; }
.v-align-middle, .v-align-center { vertical-align: middle; }
.v-align-bottom { vertical-align: bottom; }
.v-align-baseline { vertical-align: baseline; }
.v-align-sub { vertical-align: sub; }
.v-align-super { vertical-align: super; }
.v-align-text-bottom { vertical-align: text-bottom; }
.v-align-text-top { vertical-align: text-top; }

.v-align-top-i { vertical-align: top !important; }
.v-align-middle-i, .v-align-center-i { vertical-align: middle !important; }
.v-align-bottom-i { vertical-align: bottom !important; }
.v-align-baseline-i { vertical-align: baseline !important; }
.v-align-sub-i { vertical-align: sub !important; }
.v-align-super-i { vertical-align: super !important; }
.v-align-text-bottom-i { vertical-align: text-bottom !important; }
.v-align-text-top-i { vertical-align: text-top !important; }

.opacity-0 { opacity: 0; }
.opacity-1 { opacity: 0.1; }
.opacity-2 { opacity: 0.2; }
.opacity-3 { opacity: 0.3; }
.opacity-4 { opacity: 0.4; }
.opacity-5 { opacity: 0.5; }
.opacity-6 { opacity: 0.6; }
.opacity-7 { opacity: 0.7; }
.opacity-8 { opacity: 0.8; }
.opacity-9 { opacity: 0.9; }
.opacity-10 { opacity: 1; }

.opacity-0-i { opacity: 0 !important; }
.opacity-1-i { opacity: 0.1 !important; }
.opacity-2-i { opacity: 0.2 !important; }
.opacity-3-i { opacity: 0.3 !important; }
.opacity-4-i { opacity: 0.4 !important; }
.opacity-5-i { opacity: 0.5 !important; }
.opacity-6-i { opacity: 0.6 !important; }
.opacity-7-i { opacity: 0.7 !important; }
.opacity-8-i { opacity: 0.8 !important; }
.opacity-9-i { opacity: 0.9 !important; }
.opacity-10-i { opacity: 1 !important; }

.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.static { position: static; }

.relative-i { position: relative !important; }
.absolute-i { position: absolute !important; }
.fixed-i { position: fixed !important; }
.static-i { position: static !important; }

.zid-0 { z-index: 0; }
.zid-1 { z-index: 1; }
.zid-2 { z-index: 2; }
.zid-3 { z-index: 3; }
.zid-4 { z-index: 4; }
.zid-5 { z-index: 5; }
.zid-6 { z-index: 6; }
.zid-7 { z-index: 7; }
.zid-8 { z-index: 8; }
.zid-9 { z-index: 9; }
.zid-10 { z-index: 10; }

.zid-0-i { z-index: 0 !important; }
.zid-1-i { z-index: 1 !important; }
.zid-2-i { z-index: 2 !important; }
.zid-3-i { z-index: 3 !important; }
.zid-4-i { z-index: 4 !important; }
.zid-5-i { z-index: 5 !important; }
.zid-6-i { z-index: 6 !important; }
.zid-7-i { z-index: 7 !important; }
.zid-8-i { z-index: 8 !important; }
.zid-9-i { z-index: 9 !important; }
.zid-10-i { z-index: 10 !important; }

.top-0 { top: 0; }
.top-4 { top: 4px; }
.top-8 { top: 8px; }
.top-12 { top: 12px; }
.top-16 { top: 16px; }
.top-20 { top: 20px; }
.top-24 { top: 24px; }
.top-28 { top: 28px; }
.top-32 { top: 32px; }
.top-36 { top: 36px; }
.top-40 { top: 40px; }
.top-44 { top: 44px; }
.top-48 { top: 48px; }
.top-52 { top: 52px; }
.top-56 { top: 56px; }
.top-60 { top: 60px; }
.top-64 { top: 64px; }
.top-0-i { top: 0 !important; }
.top-4-i { top: 4px !important; }
.top-8-i { top: 8px !important; }
.top-12-i { top: 12px !important; }
.top-16-i { top: 16px !important; }
.top-20-i { top: 20px !important; }
.top-24-i { top: 24px !important; }
.top-28-i { top: 28px !important; }
.top-32-i { top: 32px !important; }
.top-36-i { top: 36px !important; }
.top-40-i { top: 40px !important; }
.top-44-i { top: 44px !important; }
.top-48-i { top: 48px !important; }
.top-52-i { top: 52px !important; }
.top-56-i { top: 56px !important; }
.top-60-i { top: 60px !important; }
.top-64-i { top: 64px !important; }
.left-0 { left: 0; }
.left-4 { left: 4px; }
.left-8 { left: 8px; }
.left-12 { left: 12px; }
.left-16 { left: 16px; }
.left-20 { left: 20px; }
.left-24 { left: 24px; }
.left-28 { left: 28px; }
.left-32 { left: 32px; }
.left-36 { left: 36px; }
.left-40 { left: 40px; }
.left-44 { left: 44px; }
.left-48 { left: 48px; }
.left-52 { left: 52px; }
.left-56 { left: 56px; }
.left-60 { left: 60px; }
.left-64 { left: 64px; }
.left-0-i { left: 0 !important; }
.left-4-i { left: 4px !important; }
.left-8-i { left: 8px !important; }
.left-12-i { left: 12px !important; }
.left-16-i { left: 16px !important; }
.left-20-i { left: 20px !important; }
.left-24-i { left: 24px !important; }
.left-28-i { left: 28px !important; }
.left-32-i { left: 32px !important; }
.left-36-i { left: 36px !important; }
.left-40-i { left: 40px !important; }
.left-44-i { left: 44px !important; }
.left-48-i { left: 48px !important; }
.left-52-i { left: 52px !important; }
.left-56-i { left: 56px !important; }
.left-60-i { left: 60px !important; }
.left-64-i { left: 64px !important; }
.bottom-0 { bottom: 0; }
.bottom-4 { bottom: 4px; }
.bottom-8 { bottom: 8px; }
.bottom-12 { bottom: 12px; }
.bottom-16 { bottom: 16px; }
.bottom-20 { bottom: 20px; }
.bottom-24 { bottom: 24px; }
.bottom-28 { bottom: 28px; }
.bottom-32 { bottom: 32px; }
.bottom-36 { bottom: 36px; }
.bottom-40 { bottom: 40px; }
.bottom-44 { bottom: 44px; }
.bottom-48 { bottom: 48px; }
.bottom-52 { bottom: 52px; }
.bottom-56 { bottom: 56px; }
.bottom-60 { bottom: 60px; }
.bottom-64 { bottom: 64px; }
.bottom-0-i { bottom: 0 !important; }
.bottom-4-i { bottom: 4px !important; }
.bottom-8-i { bottom: 8px !important; }
.bottom-12-i { bottom: 12px !important; }
.bottom-16-i { bottom: 16px !important; }
.bottom-20-i { bottom: 20px !important; }
.bottom-24-i { bottom: 24px !important; }
.bottom-28-i { bottom: 28px !important; }
.bottom-32-i { bottom: 32px !important; }
.bottom-36-i { bottom: 36px !important; }
.bottom-40-i { bottom: 40px !important; }
.bottom-44-i { bottom: 44px !important; }
.bottom-48-i { bottom: 48px !important; }
.bottom-52-i { bottom: 52px !important; }
.bottom-56-i { bottom: 56px !important; }
.bottom-60-i { bottom: 60px !important; }
.bottom-64-i { bottom: 64px !important; }
.right-0 { right: 0; }
.right-4 { right: 4px; }
.right-8 { right: 8px; }
.right-12 { right: 12px; }
.right-16 { right: 16px; }
.right-20 { right: 20px; }
.right-24 { right: 24px; }
.right-28 { right: 28px; }
.right-32 { right: 32px; }
.right-36 { right: 36px; }
.right-40 { right: 40px; }
.right-44 { right: 44px; }
.right-48 { right: 48px; }
.right-52 { right: 52px; }
.right-56 { right: 56px; }
.right-60 { right: 60px; }
.right-64 { right: 64px; }
.right-0-i { right: 0 !important; }
.right-4-i { right: 4px !important; }
.right-8-i { right: 8px !important; }
.right-12-i { right: 12px !important; }
.right-16-i { right: 16px !important; }
.right-20-i { right: 20px !important; }
.right-24-i { right: 24px !important; }
.right-28-i { right: 28px !important; }
.right-32-i { right: 32px !important; }
.right-36-i { right: 36px !important; }
.right-40-i { right: 40px !important; }
.right-44-i { right: 44px !important; }
.right-48-i { right: 48px !important; }
.right-52-i { right: 52px !important; }
.right-56-i { right: 56px !important; }
.right-60-i { right: 60px !important; }
.right-64-i { right: 64px !important; }

.w-space-normal { white-space: normal; }
.w-space-nowrap { white-space: nowrap; }
.w-space-pre { white-space: pre; }
.w-space-pre-wrap { white-space: pre-wrap; }
.w-space-pre-line { white-space: pre-line; }
.w-space-unset { white-space: unset; }

.w-space-normal-i { white-space: normal !important; }
.w-space-nowrap-i { white-space: nowrap !important; }
.w-space-pre-i { white-space: pre !important; }
.w-space-pre-wrap-i { white-space: pre-wrap !important; }
.w-space-pre-line-i { white-space: pre-line !important; }
.w-space-unset-i { white-space: unset !important; }

.scroll-styled {
	scrollbar-width: thin;
}

.scroll-styled::-webkit-scrollbar{
	width: 8px;
	height: 8px;
	background-color: #E0E0E0;
	border-radius: 2px;
	left: 5px;
}

.scroll-styled::-webkit-scrollbar-track{
	border-radius: 2px;
}

.scroll-styled::-webkit-scrollbar-thumb{
	background-color: #616161;
	border-radius: 2px;
}