.datepicker {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	padding: 20px;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	cursor: pointer;
}

.datepicker > .datepicker-wrapper {
	display: grid;
	align-items: center;
	height: 100%;
}

.datepicker > .datepicker-wrapper > .datepicker-block {
	width: 360px;
	margin: auto;
	cursor: auto;
	z-index: 1;
	position: relative;
}

.datepicker > .datepicker-wrapper > .datepicker-block input,
.datepicker > .datepicker-wrapper > .datepicker-block select {
	margin: 0;
}

.datepicker > .datepicker-wrapper > .datepicker-block > .block-date > .top {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	align-items: start;
}

.datepicker > .datepicker-wrapper > .datepicker-block > .block-date > .middle > .daylist {
	display: grid;
	grid-gap: 8px;
	align-items: start;
	grid-template-columns: repeat(7, 1fr);
	padding: 20px 0;
}

.datepicker > .datepicker-wrapper > .datepicker-block[data-datepicker-type="date"] > .block-date > .middle > .daylist {
	padding-bottom: 0;
}

.datepicker > .datepicker-wrapper > .datepicker-block > .block-date > .middle > .daylist > .day-id {
	line-height: 36px;
	height: 36px;
	text-align: center;
	cursor: pointer;
	border-radius: 2px;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.datepicker > .datepicker-wrapper > .datepicker-block > .block-date > .middle > .daylist > .day-id:hover,
.datepicker > .datepicker-wrapper > .datepicker-block > .block-date > .middle > .daylist > .day-id.selected {
	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
}

.datepicker > .datepicker-wrapper > .datepicker-block[data-datepicker-type="datetime"] > .block-date > .footer {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	align-items: start;
}