@media (max-width: 479px) {
	.datepicker > .datepicker-wrapper > .datepicker-block {
		width: 100%;
	}

	.datepicker > .datepicker-wrapper > .datepicker-block > .block-date > .middle > .daylist {
		grid-template-columns: repeat(auto-fill, minmax(36px, 1fr));
	}
}

@media (max-width: 319px) {
	.datepicker > .datepicker-wrapper > .datepicker-block > .block-date > .top,
	.datepicker > .datepicker-wrapper > .datepicker-block[data-datepicker-type="datetime"] > .block-date > .footer {
		grid-gap: 8px;
		grid-template-columns: 100%;
	}
}