select, button, label, input[type="checkbox"], input[type="radio"], input[type="file"] { cursor: pointer; }

button {
	outline: none;
}

input,
textarea,
select {
	box-sizing: border-box;
	line-height: 36px;
	height: 36px;
	padding: 0 8px;
	border: 0;
	outline: none;
	display: block;
	width: 100%;
	border-radius: 2px;
	margin-bottom: 20px;
	color: #424242;
	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	text-align: left;
	position: relative;
	background-color: #fff;
}

input:focus,
textarea:focus,
select:focus {
	box-shadow: rgba(0, 0, 0, 0.16) 0 3px 10px, rgba(0, 0, 0, 0.23) 0 3px 10px;
}

input[readonly],
textarea[readonly],
select[readonly] {
	background-color: #eee;
}

input:disabled,
textarea:disabled,
select:disabled {
	cursor: not-allowed;
	background-color: #eee;
}

input[type="checkbox"], input[type="radio"] {
	box-shadow: none;
	height: auto;
	width: auto;
	display: inline-block;
	vertical-align: middle;
}

input[type="range"] {
	padding: 0;
	box-shadow: none;
}

textarea {
	line-height: normal;
	height: auto;
	min-height: 100px;
	padding: 4px 8px;
	max-width: 100%;
}

.input-block-file {
	display: inline-block;
}

.input-block-file input[type="file"] {
	display: none;
}

input[type="file"] {
	line-height: normal;
	padding: 8px;
}

input[type="file"].styled {
	display: none;
}

select[multiple] {
	padding: 8px;
	min-height: 100px;
}

select[multiple] option {
	padding: 4px 8px;
	border-radius: 2px;
}

label {
	display: block;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0;
	top: -1px;
}

.input-block {
	position: relative;
	padding-bottom: 24px;
	text-align: left;
	min-height: 28px;
}

.input-block .input-helper {
	display: block;
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 24px;
	font-size: 12px;
	color: #9E9E9E;
	padding: 0 8px;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.input-block:hover .input-helper {
	opacity: 1;
}

.input-block input,
.input-block textarea,
.input-block select{
	margin: 0;
}

.input-block > label {
	box-sizing: border-box;
	display: block;
	width: 100%;
	left: 0;
	top: 0;
	line-height: 28px;
	font-size: 12px;
	padding: 0 8px;
	color: #424242;
	font-weight: 500;
}

.input-block > label > input[type="checkbox"],
.input-block > label > input[type="radio"] {
	margin: 0;
	top: -1px;
}

.input-append,
.input-prepend {
	position: relative;
}

.input-append > input,
.input-append > select,
.input-append > textarea {
	padding-right: 36px;
}

.input-prepend > input,
.input-prepend > select,
.input-prepend > textarea {
	padding-left: 36px;
}

.input-append > .append,
.input-prepend > .prepend {
	position: absolute;
	top: 1px;
	min-width: 34px;
	line-height: 33px;
	padding: 0 4px;
	height: 34px;
	text-align: center;
	z-index: 1;
	color: rgba(0,0,0,0.3);
	border-radius: 0 2px 2px 0;
}

.input-append > .append {
	right: 1px;
}

.input-prepend > .prepend {
	left: 1px;
}

.input-prepend input[type="checkbox"],
.input-append input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	bottom: 1px;
	margin: 0;
}

.input-prepend > label,
.input-append > label {
	box-sizing: border-box;
	padding: 0 8px;
	width: 100%;
	display: block;
	line-height: 20px;
	text-align: left;
	color: #616161;
}

.input-block > label .checkbox-style,
.input-block > label .radio-style{
	vertical-align: text-bottom;
}

.checkbox-style,
.radio-style{
	position: relative;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	border-radius: 2px;
}

.radio-style {
	border-radius: 50%;
}

.checkbox-style input,
.radio-style input{
	opacity: 0 !important;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
}

.checkbox-style .checkbox-style-checked,
.radio-style .checkbox-style-checked {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	box-sizing: border-box;
	display: block;
	border-radius: inherit;
	width: 100%;
	height: 100%;
	vertical-align: top;
	transition: all 350ms cubic-bezier(.23,1,.32,1) 0s;
	border: 1px solid #2196F3;
	overflow: hidden;
}

.radio-style .checkbox-style-checked {
	border-radius: 50%;
}

.checkbox-style .checkbox-style-checked:after {
	content: "";
	display: block;
	font-size: 12px;
	color: #fff;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 14px;
	font-weight: bold;
	border-radius: inherit;
	transition: all 350ms cubic-bezier(.23,1,.32,1) 0s;
}

.radio-style .checkbox-style-checked:after {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	left: 3px;
	top: 3px;
	position: absolute;
	opacity: 0;
	background-color: #2196F3;
	border-radius: inherit;
	transition: all 350ms cubic-bezier(.23,1,.32,1) 0s;
}

.checkbox-style input:checked + .checkbox-style-checked {
	background-color: #2196F3;
}

.checkbox-style input:checked + .checkbox-style-checked:after {
	content: "\2713";
}

.radio-style input:disabled + .checkbox-style-checked{
	cursor: not-allowed;
}

.radio-style input:disabled + .checkbox-style-checked {
	border-color: #BDBDBD;
}

.radio-style input:checked:disabled + .checkbox-style-checked:after {
	background-color: #BDBDBD;
}

.radio-style input:checked + .checkbox-style-checked:after {
	opacity: 1;
}

.checkbox-style input:disabled + .checkbox-style-checked,
.checkbox-style input:checked:disabled + .checkbox-style-checked {
	cursor: not-allowed;
	border-color: #BDBDBD;
}

.checkbox-style input:checked:disabled + .checkbox-style-checked {
	background-color: #BDBDBD;
}

.checkbox-style input:disabled + .checkbox-style-checked:after {
	color: #fff;
}