@media (max-width: 767px) {

	.modal {
		padding: 12px;
	}

	.modal > .wrapper {
		width: 100%;
		padding: 0 12px;
		height: calc(100vh - 24px);
	}

	.modal > .wrapper > .modal-content > .modal-footer {
		padding-top: 0;
	}
}