.navbar {
	display: block;
	width: 100%;
	height: 80px;
	z-index: 10;
	color: #424242;
}

.navbar .navbar-wrapper {
	height: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	align-items: center;
	position: relative;
}

.navbar .navbar-wrapper > .nav-left,
.navbar .navbar-wrapper > .nav-center,
.navbar .navbar-wrapper > .nav-right {
	height: 100%;
	font-size: 0;
}

.navbar .navbar-wrapper > .nav-left {

}

.navbar .navbar-wrapper > .nav-center {
	text-align: center;
}

.navbar .navbar-wrapper > .nav-right {
	text-align: right;
	justify-self: end;
}

.navbar .navbar-wrapper > .nav-left > *,
.navbar .navbar-wrapper > .nav-center > *,
.navbar .navbar-wrapper > .nav-right > * {
	font-size: 14px;
}

.navbar .navbar-wrapper .navbar-menu {
	font-size: 0;
	height: 100%;
	display: inline-block;
}

.navbar .navbar-wrapper .navbar-menu > li {
	list-style: none;
	font-size: 14px;
	display: inline-grid;
	align-items: center;
	min-width: 80px;
	height: 100%;
	text-align: center;
	position: relative;
}

.navbar .navbar-wrapper .nav-brand,
.navbar .navbar-wrapper .nav-mobile,
.navbar .navbar-wrapper .nav-item,
.navbar .navbar-wrapper .nav-link {
	display: block;
	box-sizing: border-box;
	line-height: 79px;
	height: 80px;
	padding: 0 16px;
	color: #212121;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	position: relative;
	min-width: 80px;
}

.navbar .navbar-wrapper .nav-link {
	font-weight: bold;
	color: #424242;
	position: relative;
}

.navbar .navbar-wrapper .nav-link:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 20px;
	left: 14px;
	width: 0;
	height: 4px;
	background-color: #424242;
	border-radius: 2px;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.navbar .navbar-wrapper .nav-link:active:after,
.navbar .navbar-wrapper .nav-link.active:after,
.navbar .navbar-wrapper .nav-link:hover:after {
	width: calc(100% - 28px);
}

.navbar .navbar-wrapper .nav-brand {
	font-size: 26px;
	font-weight: bold;
	color: #424242;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.navbar .navbar-wrapper .nav-mobile {
	display: none;
	text-align: center;
	float: right;
}

.navbar .navbar-wrapper .nav-brand:hover,
.navbar .navbar-wrapper .nav-brand.active {
	color: #8BC34A;
}

.navbar .navbar-wrapper .nav-link:hover,
.navbar .navbar-wrapper .nav-link.active {
	color: #000;
}

.navbar .navbar-wrapper .nav-submenu {
	display: none;
	position: absolute;
	top: calc(100% + 4px);
	right: 0;
	width: 200px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
	border-radius: 2px;
	padding: 4px 0;
	z-index: 5;
}

.navbar .navbar-wrapper .nav-submenu.active {
	display: block;
}

.navbar .navbar-wrapper .nav-submenu.left-pos {
	right: auto;
	left: 0;
}

.navbar .navbar-wrapper .nav-submenu > li {
	list-style: none;
	font-size: 14px;
	display: grid;
	align-items: center;
	min-width: 48px;
	height: 100%;
	text-align: left;
	position: relative;
	width: 100%;
}

.navbar .navbar-wrapper .nav-submenu .nav-item,
.navbar .navbar-wrapper .nav-submenu .nav-link {
	display: grid;
	line-height: 47px;
	height: 48px;
	color: #424242;
}

.navbar .navbar-wrapper .nav-submenu .nav-item {
	color: #616161;
	position: relative;
}

.navbar .navbar-wrapper .nav-submenu .nav-link:hover,
.navbar .navbar-wrapper .nav-submenu .nav-link.active {
	color: #fafafa;
}

.navbar .navbar-wrapper .nav-submenu .nav-submenu {
	right: 100%;
	top: -4px;
}

.navbar .navbar-wrapper .nav-submenu .nav-submenu.left-pos {
	right: auto;
	left: 100%;
}