@media (max-width: 991px) {
	.navbar {
		height: auto;
	}

	.navbar .navbar-wrapper {
		display: block;
	}

	.navbar .navbar-wrapper > .nav-center,
	.navbar .navbar-wrapper > .nav-right {
		display: none;
	}

	.navbar.open .navbar-wrapper > .nav-center,
	.navbar.open .navbar-wrapper > .nav-right,
	.navbar .navbar-wrapper > .nav-left,
	.navbar .navbar-wrapper .navbar-menu,
	.navbar .navbar-wrapper .nav-item,
	.navbar .navbar-wrapper .nav-link,
	.navbar .navbar-wrapper .navbar-menu > li {
		display: block;
		width: 100%;
	}

	.navbar .navbar-wrapper .nav-mobile {
		display: inline-block;
	}

	.navbar .navbar-wrapper .nav-submenu {
		position: static;
		width: 100%;
		box-shadow: none;
		background-color: rgba(0,0,0,0.04);
	}

	.navbar .navbar-wrapper .nav-submenu .nav-item,
	.navbar .navbar-wrapper .nav-submenu .nav-link {
		color: #757575;
	}

	.navbar .navbar-wrapper .nav-item,
	.navbar .navbar-wrapper .nav-link {
		line-height: 63px;
		height: 64px;
		padding: 0 16px;
	}

	.navbar .navbar-wrapper .nav-link:after {
		bottom: 8px;
	}
}