@media (max-width: 991px) {
	.navbar {
		height: auto;
	}

	.navbar .navbar-wrapper {
		display: block;
	}

	.navbar .navbar-wrapper > .nav-center,
	.navbar .navbar-wrapper > .nav-right {
		display: none;
	}

	.navbar.open .navbar-wrapper > .nav-center,
	.navbar.open .navbar-wrapper > .nav-right,
	.navbar .navbar-wrapper > .nav-left,
	.navbar .navbar-wrapper .navbar-menu,
	.navbar .navbar-wrapper .nav-item,
	.navbar .navbar-wrapper .nav-link,
	.navbar .navbar-wrapper .navbar-menu > li {
		display: block;
		width: 100%;
	}

	.navbar .navbar-wrapper .navbar-menu {
		padding-bottom: 20px;
	}

	.navbar .navbar-wrapper .nav-mobile {
		display: inline-block;
	}

	.navbar .navbar-wrapper .nav-submenu {
		position: static;
		width: 100%;
		box-shadow: none;
		background-color: rgba(0,0,0,0.04);
	}

	.navbar .navbar-wrapper .nav-submenu .nav-item,
	.navbar .navbar-wrapper .nav-submenu .nav-link {
		color: #757575;
	}

	.navbar .navbar-wrapper .nav-item,
	.navbar .navbar-wrapper .nav-link {
		line-height: 63px;
		height: 64px;
		padding: 0 16px;
	}

	.navbar .navbar-wrapper .nav-link:after {
		bottom: 8px;
	}

	.navbar .navbar-wrapper .navbar-menu > li > .nav-submenu:before {
		display: none;
	}

	.navbar .navbar-wrapper .nav-link:active:after,
	.navbar .navbar-wrapper .nav-link.active:after,
	.navbar .navbar-wrapper .nav-link:hover:after {
		width: 100%;
		left: 0;
	}

	.navbar.navbar-text-light .navbar-wrapper .nav-submenu .nav-link:hover,
	.navbar.navbar-text-light .navbar-wrapper .nav-submenu .nav-link.active {
		background-color: rgba(255,255,255,0.04);
		color: #fff;
	}
}

@media (max-width: 279px) {
	.navbar .navbar-wrapper .nav-brand {
		display: none;
	}

	.navbar .navbar-wrapper {
		padding-top: 80px;
	}

	.navbar .navbar-wrapper .nav-mobile {
		width: 80px;
		position: absolute;
		top: 0;
		right: 0;
	}
}