@media (max-width: 991px) {
	.nav-menu.nav-menu-responsive {
		width: 64px;
	}

	.nav-menu.nav-menu-responsive .nav-menu-item.active {
		background-color: rgba(0,0,0,0.08);
	}

	.nav-menu.nav-menu-responsive .nav-menu-link .link-text {
		position: absolute;
		left: 100%;
		top: 0;
		z-index: 1;
		max-width: calc(100vw - 84px);
		padding: 20px;
		visibility: hidden;
		white-space: nowrap;
		display: block;
		opacity: 0;
		background-color: #EEEEEE;
		transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	}

	.nav-menu.nav-menu-responsive .nav-menu-link:hover .link-text {
		visibility: visible;
		opacity: 1;
	}

	.nav-menu.nav-menu-responsive .nav-menu-link .link-icon {
		font-size: 16px;
	}
}

@media (max-width: 319px) {
	.nav-menu.nav-menu-responsive .nav-menu-link .link-text {
		width: calc(100vw - 84px);
	}

	.nav-menu.nav-menu-responsive .nav-menu-link .link-text {
		word-break: normal;
		white-space: normal;
	}
}