.p-0 { padding: 0; }
.p-4 { padding: 4px; }
.p-8 { padding: 8px; }
.p-12 { padding: 12px; }
.p-16 { padding: 16px; }
.p-20 { padding: 20px; }
.p-24 { padding: 24px; }
.p-28 { padding: 28px; }
.p-32 { padding: 32px; }
.p-36 { padding: 36px; }
.p-40 { padding: 40px; }
.p-44 { padding: 44px; }
.p-48 { padding: 48px; }
.p-52 { padding: 52px; }
.p-56 { padding: 56px; }
.p-60 { padding: 60px; }
.p-64 { padding: 64px; }
.p-68 { padding: 68px; }
.p-72 { padding: 72px; }
.p-76 { padding: 76px; }
.p-80 { padding: 80px; }
.p-84 { padding: 84px; }
.p-88 { padding: 88px; }
.p-92 { padding: 92px; }
.p-96 { padding: 96px; }
.p-100 { padding: 100px; }
.p-0-i { padding: 0 !important; }
.p-4-i { padding: 4px !important; }
.p-8-i { padding: 8px !important; }
.p-12-i { padding: 12px !important; }
.p-16-i { padding: 16px !important; }
.p-20-i { padding: 20px !important; }
.p-24-i { padding: 24px !important; }
.p-28-i { padding: 28px !important; }
.p-32-i { padding: 32px !important; }
.p-36-i { padding: 36px !important; }
.p-40-i { padding: 40px !important; }
.p-44-i { padding: 44px !important; }
.p-48-i { padding: 48px !important; }
.p-52-i { padding: 52px !important; }
.p-56-i { padding: 56px !important; }
.p-60-i { padding: 60px !important; }
.p-64-i { padding: 64px !important; }
.p-68-i { padding: 68px !important; }
.p-72-i { padding: 72px !important; }
.p-76-i { padding: 76px !important; }
.p-80-i { padding: 80px !important; }
.p-84-i { padding: 84px !important; }
.p-88-i { padding: 88px !important; }
.p-92-i { padding: 92px !important; }
.p-96-i { padding: 96px !important; }
.p-100-i { padding: 100px !important; }

.pl-0 { padding-left: 0; }
.pl-4 { padding-left: 4px; }
.pl-8 { padding-left: 8px; }
.pl-12 { padding-left: 12px; }
.pl-16 { padding-left: 16px; }
.pl-20 { padding-left: 20px; }
.pl-24 { padding-left: 24px; }
.pl-28 { padding-left: 28px; }
.pl-32 { padding-left: 32px; }
.pl-36 { padding-left: 36px; }
.pl-40 { padding-left: 40px; }
.pl-44 { padding-left: 44px; }
.pl-48 { padding-left: 48px; }
.pl-52 { padding-left: 52px; }
.pl-56 { padding-left: 56px; }
.pl-60 { padding-left: 60px; }
.pl-64 { padding-left: 64px; }
.pl-68 { padding-left: 68px; }
.pl-72 { padding-left: 72px; }
.pl-76 { padding-left: 76px; }
.pl-80 { padding-left: 80px; }
.pl-84 { padding-left: 84px; }
.pl-88 { padding-left: 88px; }
.pl-92 { padding-left: 92px; }
.pl-96 { padding-left: 96px; }
.pl-100 { padding-left: 100px; }
.pl-0-i { padding-left: 0 !important; }
.pl-4-i { padding-left: 4px !important; }
.pl-8-i { padding-left: 8px !important; }
.pl-12-i { padding-left: 12px !important; }
.pl-16-i { padding-left: 16px !important; }
.pl-20-i { padding-left: 20px !important; }
.pl-24-i { padding-left: 24px !important; }
.pl-28-i { padding-left: 28px !important; }
.pl-32-i { padding-left: 32px !important; }
.pl-36-i { padding-left: 36px !important; }
.pl-40-i { padding-left: 40px !important; }
.pl-44-i { padding-left: 44px !important; }
.pl-48-i { padding-left: 48px !important; }
.pl-52-i { padding-left: 52px !important; }
.pl-56-i { padding-left: 56px !important; }
.pl-60-i { padding-left: 60px !important; }
.pl-64-i { padding-left: 64px !important; }
.pl-68-i { padding-left: 68px !important; }
.pl-72-i { padding-left: 72px !important; }
.pl-76-i { padding-left: 76px !important; }
.pl-80-i { padding-left: 80px !important; }
.pl-84-i { padding-left: 84px !important; }
.pl-88-i { padding-left: 88px !important; }
.pl-92-i { padding-left: 92px !important; }
.pl-96-i { padding-left: 96px !important; }
.pl-100-i { padding-left: 100px !important; }

.pr-0 { padding-right: 0; }
.pr-4 { padding-right: 4px; }
.pr-8 { padding-right: 8px; }
.pr-12 { padding-right: 12px; }
.pr-16 { padding-right: 16px; }
.pr-20 { padding-right: 20px; }
.pr-24 { padding-right: 24px; }
.pr-28 { padding-right: 28px; }
.pr-32 { padding-right: 32px; }
.pr-36 { padding-right: 36px; }
.pr-40 { padding-right: 40px; }
.pr-44 { padding-right: 44px; }
.pr-48 { padding-right: 48px; }
.pr-52 { padding-right: 52px; }
.pr-56 { padding-right: 56px; }
.pr-60 { padding-right: 60px; }
.pr-64 { padding-right: 64px; }
.pr-68 { padding-right: 68px; }
.pr-72 { padding-right: 72px; }
.pr-76 { padding-right: 76px; }
.pr-80 { padding-right: 80px; }
.pr-84 { padding-right: 84px; }
.pr-88 { padding-right: 88px; }
.pr-92 { padding-right: 92px; }
.pr-96 { padding-right: 96px; }
.pr-100 { padding-right: 100px; }
.pr-0-i { padding-right: 0 !important; }
.pr-4-i { padding-right: 4px !important; }
.pr-8-i { padding-right: 8px !important; }
.pr-12-i { padding-right: 12px !important; }
.pr-16-i { padding-right: 16px !important; }
.pr-20-i { padding-right: 20px !important; }
.pr-24-i { padding-right: 24px !important; }
.pr-28-i { padding-right: 28px !important; }
.pr-32-i { padding-right: 32px !important; }
.pr-36-i { padding-right: 36px !important; }
.pr-40-i { padding-right: 40px !important; }
.pr-44-i { padding-right: 44px !important; }
.pr-48-i { padding-right: 48px !important; }
.pr-52-i { padding-right: 52px !important; }
.pr-56-i { padding-right: 56px !important; }
.pr-60-i { padding-right: 60px !important; }
.pr-64-i { padding-right: 64px !important; }
.pr-68-i { padding-right: 68px !important; }
.pr-72-i { padding-right: 72px !important; }
.pr-76-i { padding-right: 76px !important; }
.pr-80-i { padding-right: 80px !important; }
.pr-84-i { padding-right: 84px !important; }
.pr-88-i { padding-right: 88px !important; }
.pr-92-i { padding-right: 92px !important; }
.pr-96-i { padding-right: 96px !important; }
.pr-100-i { padding-right: 100px !important; }

.pt-0 { padding-top: 0; }
.pt-4 { padding-top: 4px; }
.pt-8 { padding-top: 8px; }
.pt-12 { padding-top: 12px; }
.pt-16 { padding-top: 16px; }
.pt-20 { padding-top: 20px; }
.pt-24 { padding-top: 24px; }
.pt-28 { padding-top: 28px; }
.pt-32 { padding-top: 32px; }
.pt-36 { padding-top: 36px; }
.pt-40 { padding-top: 40px; }
.pt-44 { padding-top: 44px; }
.pt-48 { padding-top: 48px; }
.pt-52 { padding-top: 52px; }
.pt-56 { padding-top: 56px; }
.pt-60 { padding-top: 60px; }
.pt-64 { padding-top: 64px; }
.pt-68 { padding-top: 68px; }
.pt-72 { padding-top: 72px; }
.pt-76 { padding-top: 76px; }
.pt-80 { padding-top: 80px; }
.pt-84 { padding-top: 84px; }
.pt-88 { padding-top: 88px; }
.pt-92 { padding-top: 92px; }
.pt-96 { padding-top: 96px; }
.pt-100 { padding-top: 100px; }
.pt-0-i { padding-top: 0 !important; }
.pt-4-i { padding-top: 4px !important; }
.pt-8-i { padding-top: 8px !important; }
.pt-12-i { padding-top: 12px !important; }
.pt-16-i { padding-top: 16px !important; }
.pt-20-i { padding-top: 20px !important; }
.pt-24-i { padding-top: 24px !important; }
.pt-28-i { padding-top: 28px !important; }
.pt-32-i { padding-top: 32px !important; }
.pt-36-i { padding-top: 36px !important; }
.pt-40-i { padding-top: 40px !important; }
.pt-44-i { padding-top: 44px !important; }
.pt-48-i { padding-top: 48px !important; }
.pt-52-i { padding-top: 52px !important; }
.pt-56-i { padding-top: 56px !important; }
.pt-60-i { padding-top: 60px !important; }
.pt-64-i { padding-top: 64px !important; }
.pt-68-i { padding-top: 68px !important; }
.pt-72-i { padding-top: 72px !important; }
.pt-76-i { padding-top: 76px !important; }
.pt-80-i { padding-top: 80px !important; }
.pt-84-i { padding-top: 84px !important; }
.pt-88-i { padding-top: 88px !important; }
.pt-92-i { padding-top: 92px !important; }
.pt-96-i { padding-top: 96px !important; }
.pt-100-i { padding-top: 100px !important; }

.pb-0 { padding-bottom: 0; }
.pb-4 { padding-bottom: 4px; }
.pb-8 { padding-bottom: 8px; }
.pb-12 { padding-bottom: 12px; }
.pb-16 { padding-bottom: 16px; }
.pb-20 { padding-bottom: 20px; }
.pb-24 { padding-bottom: 24px; }
.pb-28 { padding-bottom: 28px; }
.pb-32 { padding-bottom: 32px; }
.pb-36 { padding-bottom: 36px; }
.pb-40 { padding-bottom: 40px; }
.pb-44 { padding-bottom: 44px; }
.pb-48 { padding-bottom: 48px; }
.pb-52 { padding-bottom: 52px; }
.pb-56 { padding-bottom: 56px; }
.pb-60 { padding-bottom: 60px; }
.pb-64 { padding-bottom: 64px; }
.pb-68 { padding-bottom: 68px; }
.pb-72 { padding-bottom: 72px; }
.pb-76 { padding-bottom: 76px; }
.pb-80 { padding-bottom: 80px; }
.pb-84 { padding-bottom: 84px; }
.pb-88 { padding-bottom: 88px; }
.pb-92 { padding-bottom: 92px; }
.pb-96 { padding-bottom: 96px; }
.pb-100 { padding-bottom: 100px; }
.pb-0-i { padding-bottom: 0 !important; }
.pb-4-i { padding-bottom: 4px !important; }
.pb-8-i { padding-bottom: 8px !important; }
.pb-12-i { padding-bottom: 12px !important; }
.pb-16-i { padding-bottom: 16px !important; }
.pb-20-i { padding-bottom: 20px !important; }
.pb-24-i { padding-bottom: 24px !important; }
.pb-28-i { padding-bottom: 28px !important; }
.pb-32-i { padding-bottom: 32px !important; }
.pb-36-i { padding-bottom: 36px !important; }
.pb-40-i { padding-bottom: 40px !important; }
.pb-44-i { padding-bottom: 44px !important; }
.pb-48-i { padding-bottom: 48px !important; }
.pb-52-i { padding-bottom: 52px !important; }
.pb-56-i { padding-bottom: 56px !important; }
.pb-60-i { padding-bottom: 60px !important; }
.pb-64-i { padding-bottom: 64px !important; }
.pb-68-i { padding-bottom: 68px !important; }
.pb-72-i { padding-bottom: 72px !important; }
.pb-76-i { padding-bottom: 76px !important; }
.pb-80-i { padding-bottom: 80px !important; }
.pb-84-i { padding-bottom: 84px !important; }
.pb-88-i { padding-bottom: 88px !important; }
.pb-92-i { padding-bottom: 92px !important; }
.pb-96-i { padding-bottom: 96px !important; }
.pb-100-i { padding-bottom: 100px !important; }

.px-0 { padding-left: 0; padding-right: 0; }
.px-4 { padding-left: 4px; padding-right: 4px; }
.px-8 { padding-left: 8px; padding-right: 8px; }
.px-12 { padding-left: 12px; padding-right: 12px; }
.px-16 { padding-left: 16px; padding-right: 16px; }
.px-20 { padding-left: 20px; padding-right: 20px; }
.px-24 { padding-left: 24px; padding-right: 24px; }
.px-28 { padding-left: 28px; padding-right: 28px; }
.px-32 { padding-left: 32px; padding-right: 32px; }
.px-36 { padding-left: 36px; padding-right: 36px; }
.px-40 { padding-left: 40px; padding-right: 40px; }
.px-44 { padding-left: 44px; padding-right: 44px; }
.px-48 { padding-left: 48px; padding-right: 48px; }
.px-52 { padding-left: 52px; padding-right: 52px; }
.px-56 { padding-left: 56px; padding-right: 56px; }
.px-60 { padding-left: 60px; padding-right: 60px; }
.px-64 { padding-left: 64px; padding-right: 64px; }
.px-68 { padding-left: 68px; padding-right: 68px; }
.px-72 { padding-left: 72px; padding-right: 72px; }
.px-76 { padding-left: 76px; padding-right: 76px; }
.px-80 { padding-left: 80px; padding-right: 80px; }
.px-84 { padding-left: 84px; padding-right: 84px; }
.px-88 { padding-left: 88px; padding-right: 88px; }
.px-92 { padding-left: 92px; padding-right: 92px; }
.px-96 { padding-left: 96px; padding-right: 96px; }
.px-100 { padding-left: 100px; padding-right: 100px; }
.px-0-i { padding-left: 0 !important; padding-right: 0 !important; }
.px-4-i { padding-left: 4px !important; padding-right: 4px !important; }
.px-8-i { padding-left: 8px !important; padding-right: 8px !important; }
.px-12-i { padding-left: 12px !important; padding-right: 12px !important; }
.px-16-i { padding-left: 16px !important; padding-right: 16px !important; }
.px-20-i { padding-left: 20px !important; padding-right: 20px !important; }
.px-24-i { padding-left: 24px !important; padding-right: 24px !important; }
.px-28-i { padding-left: 28px !important; padding-right: 28px !important; }
.px-32-i { padding-left: 32px !important; padding-right: 32px !important; }
.px-36-i { padding-left: 36px !important; padding-right: 36px !important; }
.px-40-i { padding-left: 40px !important; padding-right: 40px !important; }
.px-44-i { padding-left: 44px !important; padding-right: 44px !important; }
.px-48-i { padding-left: 48px !important; padding-right: 48px !important; }
.px-52-i { padding-left: 52px !important; padding-right: 52px !important; }
.px-56-i { padding-left: 56px !important; padding-right: 56px !important; }
.px-60-i { padding-left: 60px !important; padding-right: 60px !important; }
.px-64-i { padding-left: 64px !important; padding-right: 64px !important; }
.px-68-i { padding-left: 68px !important; padding-right: 68px !important; }
.px-72-i { padding-left: 72px !important; padding-right: 72px !important; }
.px-76-i { padding-left: 76px !important; padding-right: 76px !important; }
.px-80-i { padding-left: 80px !important; padding-right: 80px !important; }
.px-84-i { padding-left: 84px !important; padding-right: 84px !important; }
.px-88-i { padding-left: 88px !important; padding-right: 88px !important; }
.px-92-i { padding-left: 92px !important; padding-right: 92px !important; }
.px-96-i { padding-left: 96px !important; padding-right: 96px !important; }
.px-100-i { padding-left: 100px !important; padding-right: 100px !important; }

.py-0 { padding-top: 0; padding-bottom: 0; }
.py-4 { padding-top: 4px; padding-bottom: 4px; }
.py-8 { padding-top: 8px; padding-bottom: 8px; }
.py-12 { padding-top: 12px; padding-bottom: 12px; }
.py-16 { padding-top: 16px; padding-bottom: 16px; }
.py-20 { padding-top: 20px; padding-bottom: 20px; }
.py-24 { padding-top: 24px; padding-bottom: 24px; }
.py-28 { padding-top: 28px; padding-bottom: 28px; }
.py-32 { padding-top: 32px; padding-bottom: 32px; }
.py-36 { padding-top: 36px; padding-bottom: 36px; }
.py-40 { padding-top: 40px; padding-bottom: 40px; }
.py-44 { padding-top: 44px; padding-bottom: 44px; }
.py-48 { padding-top: 48px; padding-bottom: 48px; }
.py-52 { padding-top: 52px; padding-bottom: 52px; }
.py-56 { padding-top: 56px; padding-bottom: 56px; }
.py-60 { padding-top: 60px; padding-bottom: 60px; }
.py-64 { padding-top: 64px; padding-bottom: 64px; }
.py-68 { padding-top: 68px; padding-bottom: 68px; }
.py-72 { padding-top: 72px; padding-bottom: 72px; }
.py-76 { padding-top: 76px; padding-bottom: 76px; }
.py-80 { padding-top: 80px; padding-bottom: 80px; }
.py-84 { padding-top: 84px; padding-bottom: 84px; }
.py-88 { padding-top: 88px; padding-bottom: 88px; }
.py-92 { padding-top: 92px; padding-bottom: 92px; }
.py-96 { padding-top: 96px; padding-bottom: 96px; }
.py-100 { padding-top: 100px; padding-bottom: 100px; }
.py-0-i { padding-top: 0 !important; padding-bottom: 0 !important; }
.py-4-i { padding-top: 4px !important; padding-bottom: 4px !important; }
.py-8-i { padding-top: 8px !important; padding-bottom: 8px !important; }
.py-12-i { padding-top: 12px !important; padding-bottom: 12px !important; }
.py-16-i { padding-top: 16px !important; padding-bottom: 16px !important; }
.py-20-i { padding-top: 20px !important; padding-bottom: 20px !important; }
.py-24-i { padding-top: 24px !important; padding-bottom: 24px !important; }
.py-28-i { padding-top: 28px !important; padding-bottom: 28px !important; }
.py-32-i { padding-top: 32px !important; padding-bottom: 32px !important; }
.py-36-i { padding-top: 36px !important; padding-bottom: 36px !important; }
.py-40-i { padding-top: 40px !important; padding-bottom: 40px !important; }
.py-44-i { padding-top: 44px !important; padding-bottom: 44px !important; }
.py-48-i { padding-top: 48px !important; padding-bottom: 48px !important; }
.py-52-i { padding-top: 52px !important; padding-bottom: 52px !important; }
.py-56-i { padding-top: 56px !important; padding-bottom: 56px !important; }
.py-60-i { padding-top: 60px !important; padding-bottom: 60px !important; }
.py-64-i { padding-top: 64px !important; padding-bottom: 64px !important; }
.py-68-i { padding-top: 68px !important; padding-bottom: 68px !important; }
.py-72-i { padding-top: 72px !important; padding-bottom: 72px !important; }
.py-76-i { padding-top: 76px !important; padding-bottom: 76px !important; }
.py-80-i { padding-top: 80px !important; padding-bottom: 80px !important; }
.py-84-i { padding-top: 84px !important; padding-bottom: 84px !important; }
.py-88-i { padding-top: 88px !important; padding-bottom: 88px !important; }
.py-92-i { padding-top: 92px !important; padding-bottom: 92px !important; }
.py-96-i { padding-top: 96px !important; padding-bottom: 96px !important; }
.py-100-i { padding-top: 100px !important; padding-bottom: 100px !important; }

.m-0 { margin: 0; }
.m-4 { margin: 4px; }
.m-8 { margin: 8px; }
.m-12 { margin: 12px; }
.m-16 { margin: 16px; }
.m-20 { margin: 20px; }
.m-24 { margin: 24px; }
.m-28 { margin: 28px; }
.m-32 { margin: 32px; }
.m-36 { margin: 36px; }
.m-40 { margin: 40px; }
.m-44 { margin: 44px; }
.m-48 { margin: 48px; }
.m-52 { margin: 52px; }
.m-56 { margin: 56px; }
.m-60 { margin: 60px; }
.m-64 { margin: 64px; }
.m-68 { margin: 68px; }
.m-72 { margin: 72px; }
.m-76 { margin: 76px; }
.m-80 { margin: 80px; }
.m-84 { margin: 84px; }
.m-88 { margin: 88px; }
.m-92 { margin: 92px; }
.m-96 { margin: 96px; }
.m-100 { margin: 100px; }
.m-0-i { margin: 0 !important; }
.m-4-i { margin: 4px !important; }
.m-8-i { margin: 8px !important; }
.m-12-i { margin: 12px !important; }
.m-16-i { margin: 16px !important; }
.m-20-i { margin: 20px !important; }
.m-24-i { margin: 24px !important; }
.m-28-i { margin: 28px !important; }
.m-32-i { margin: 32px !important; }
.m-36-i { margin: 36px !important; }
.m-40-i { margin: 40px !important; }
.m-44-i { margin: 44px !important; }
.m-48-i { margin: 48px !important; }
.m-52-i { margin: 52px !important; }
.m-56-i { margin: 56px !important; }
.m-60-i { margin: 60px !important; }
.m-64-i { margin: 64px !important; }
.m-68-i { margin: 68px !important; }
.m-72-i { margin: 72px !important; }
.m-76-i { margin: 76px !important; }
.m-80-i { margin: 80px !important; }
.m-84-i { margin: 84px !important; }
.m-88-i { margin: 88px !important; }
.m-92-i { margin: 92px !important; }
.m-96-i { margin: 96px !important; }
.m-100-i { margin: 100px !important; }

.ml-0 { margin-left: 0; }
.ml-4 { margin-left: 4px; }
.ml-8 { margin-left: 8px; }
.ml-12 { margin-left: 12px; }
.ml-16 { margin-left: 16px; }
.ml-20 { margin-left: 20px; }
.ml-24 { margin-left: 24px; }
.ml-28 { margin-left: 28px; }
.ml-32 { margin-left: 32px; }
.ml-36 { margin-left: 36px; }
.ml-40 { margin-left: 40px; }
.ml-44 { margin-left: 44px; }
.ml-48 { margin-left: 48px; }
.ml-52 { margin-left: 52px; }
.ml-56 { margin-left: 56px; }
.ml-60 { margin-left: 60px; }
.ml-64 { margin-left: 64px; }
.ml-68 { margin-left: 68px; }
.ml-72 { margin-left: 72px; }
.ml-76 { margin-left: 76px; }
.ml-80 { margin-left: 80px; }
.ml-84 { margin-left: 84px; }
.ml-88 { margin-left: 88px; }
.ml-92 { margin-left: 92px; }
.ml-96 { margin-left: 96px; }
.ml-100 { margin-left: 100px; }
.ml-0-i { margin-left: 0 !important; }
.ml-4-i { margin-left: 4px !important; }
.ml-8-i { margin-left: 8px !important; }
.ml-12-i { margin-left: 12px !important; }
.ml-16-i { margin-left: 16px !important; }
.ml-20-i { margin-left: 20px !important; }
.ml-24-i { margin-left: 24px !important; }
.ml-28-i { margin-left: 28px !important; }
.ml-32-i { margin-left: 32px !important; }
.ml-36-i { margin-left: 36px !important; }
.ml-40-i { margin-left: 40px !important; }
.ml-44-i { margin-left: 44px !important; }
.ml-48-i { margin-left: 48px !important; }
.ml-52-i { margin-left: 52px !important; }
.ml-56-i { margin-left: 56px !important; }
.ml-60-i { margin-left: 60px !important; }
.ml-64-i { margin-left: 64px !important; }
.ml-68-i { margin-left: 68px !important; }
.ml-72-i { margin-left: 72px !important; }
.ml-76-i { margin-left: 76px !important; }
.ml-80-i { margin-left: 80px !important; }
.ml-84-i { margin-left: 84px !important; }
.ml-88-i { margin-left: 88px !important; }
.ml-92-i { margin-left: 92px !important; }
.ml-96-i { margin-left: 96px !important; }
.ml-100-i { margin-left: 100px !important; }

.mr-0 { margin-right: 0; }
.mr-4 { margin-right: 4px; }
.mr-8 { margin-right: 8px; }
.mr-12 { margin-right: 12px; }
.mr-16 { margin-right: 16px; }
.mr-20 { margin-right: 20px; }
.mr-24 { margin-right: 24px; }
.mr-28 { margin-right: 28px; }
.mr-32 { margin-right: 32px; }
.mr-36 { margin-right: 36px; }
.mr-40 { margin-right: 40px; }
.mr-44 { margin-right: 44px; }
.mr-48 { margin-right: 48px; }
.mr-52 { margin-right: 52px; }
.mr-56 { margin-right: 56px; }
.mr-60 { margin-right: 60px; }
.mr-64 { margin-right: 64px; }
.mr-68 { margin-right: 68px; }
.mr-72 { margin-right: 72px; }
.mr-76 { margin-right: 76px; }
.mr-80 { margin-right: 80px; }
.mr-84 { margin-right: 84px; }
.mr-88 { margin-right: 88px; }
.mr-92 { margin-right: 92px; }
.mr-96 { margin-right: 96px; }
.mr-100 { margin-right: 100px; }
.mr-0-i { margin-right: 0 !important; }
.mr-4-i { margin-right: 4px !important; }
.mr-8-i { margin-right: 8px !important; }
.mr-12-i { margin-right: 12px !important; }
.mr-16-i { margin-right: 16px !important; }
.mr-20-i { margin-right: 20px !important; }
.mr-24-i { margin-right: 24px !important; }
.mr-28-i { margin-right: 28px !important; }
.mr-32-i { margin-right: 32px !important; }
.mr-36-i { margin-right: 36px !important; }
.mr-40-i { margin-right: 40px !important; }
.mr-44-i { margin-right: 44px !important; }
.mr-48-i { margin-right: 48px !important; }
.mr-52-i { margin-right: 52px !important; }
.mr-56-i { margin-right: 56px !important; }
.mr-60-i { margin-right: 60px !important; }
.mr-64-i { margin-right: 64px !important; }
.mr-68-i { margin-right: 68px !important; }
.mr-72-i { margin-right: 72px !important; }
.mr-76-i { margin-right: 76px !important; }
.mr-80-i { margin-right: 80px !important; }
.mr-84-i { margin-right: 84px !important; }
.mr-88-i { margin-right: 88px !important; }
.mr-92-i { margin-right: 92px !important; }
.mr-96-i { margin-right: 96px !important; }
.mr-100-i { margin-right: 100px !important; }

.mt-0 { margin-top: 0; }
.mt-4 { margin-top: 4px; }
.mt-8 { margin-top: 8px; }
.mt-12 { margin-top: 12px; }
.mt-16 { margin-top: 16px; }
.mt-20 { margin-top: 20px; }
.mt-24 { margin-top: 24px; }
.mt-28 { margin-top: 28px; }
.mt-32 { margin-top: 32px; }
.mt-36 { margin-top: 36px; }
.mt-40 { margin-top: 40px; }
.mt-44 { margin-top: 44px; }
.mt-48 { margin-top: 48px; }
.mt-52 { margin-top: 52px; }
.mt-56 { margin-top: 56px; }
.mt-60 { margin-top: 60px; }
.mt-64 { margin-top: 64px; }
.mt-68 { margin-top: 68px; }
.mt-72 { margin-top: 72px; }
.mt-76 { margin-top: 76px; }
.mt-80 { margin-top: 80px; }
.mt-84 { margin-top: 84px; }
.mt-88 { margin-top: 88px; }
.mt-92 { margin-top: 92px; }
.mt-96 { margin-top: 96px; }
.mt-100 { margin-top: 100px; }
.mt-0-i { margin-top: 0 !important; }
.mt-4-i { margin-top: 4px !important; }
.mt-8-i { margin-top: 8px !important; }
.mt-12-i { margin-top: 12px !important; }
.mt-16-i { margin-top: 16px !important; }
.mt-20-i { margin-top: 20px !important; }
.mt-24-i { margin-top: 24px !important; }
.mt-28-i { margin-top: 28px !important; }
.mt-32-i { margin-top: 32px !important; }
.mt-36-i { margin-top: 36px !important; }
.mt-40-i { margin-top: 40px !important; }
.mt-44-i { margin-top: 44px !important; }
.mt-48-i { margin-top: 48px !important; }
.mt-52-i { margin-top: 52px !important; }
.mt-56-i { margin-top: 56px !important; }
.mt-60-i { margin-top: 60px !important; }
.mt-64-i { margin-top: 64px !important; }
.mt-68-i { margin-top: 68px !important; }
.mt-72-i { margin-top: 72px !important; }
.mt-76-i { margin-top: 76px !important; }
.mt-80-i { margin-top: 80px !important; }
.mt-84-i { margin-top: 84px !important; }
.mt-88-i { margin-top: 88px !important; }
.mt-92-i { margin-top: 92px !important; }
.mt-96-i { margin-top: 96px !important; }
.mt-100-i { margin-top: 100px !important; }

.mb-0 { margin-bottom: 0; }
.mb-4 { margin-bottom: 4px; }
.mb-8 { margin-bottom: 8px; }
.mb-12 { margin-bottom: 12px; }
.mb-16 { margin-bottom: 16px; }
.mb-20 { margin-bottom: 20px; }
.mb-24 { margin-bottom: 24px; }
.mb-28 { margin-bottom: 28px; }
.mb-32 { margin-bottom: 32px; }
.mb-36 { margin-bottom: 36px; }
.mb-40 { margin-bottom: 40px; }
.mb-44 { margin-bottom: 44px; }
.mb-48 { margin-bottom: 48px; }
.mb-52 { margin-bottom: 52px; }
.mb-56 { margin-bottom: 56px; }
.mb-60 { margin-bottom: 60px; }
.mb-64 { margin-bottom: 64px; }
.mb-68 { margin-bottom: 68px; }
.mb-72 { margin-bottom: 72px; }
.mb-76 { margin-bottom: 76px; }
.mb-80 { margin-bottom: 80px; }
.mb-84 { margin-bottom: 84px; }
.mb-88 { margin-bottom: 88px; }
.mb-92 { margin-bottom: 92px; }
.mb-96 { margin-bottom: 96px; }
.mb-100 { margin-bottom: 100px; }
.mb-0-i { margin-bottom: 0 !important; }
.mb-4-i { margin-bottom: 4px !important; }
.mb-8-i { margin-bottom: 8px !important; }
.mb-12-i { margin-bottom: 12px !important; }
.mb-16-i { margin-bottom: 16px !important; }
.mb-20-i { margin-bottom: 20px !important; }
.mb-24-i { margin-bottom: 24px !important; }
.mb-28-i { margin-bottom: 28px !important; }
.mb-32-i { margin-bottom: 32px !important; }
.mb-36-i { margin-bottom: 36px !important; }
.mb-40-i { margin-bottom: 40px !important; }
.mb-44-i { margin-bottom: 44px !important; }
.mb-48-i { margin-bottom: 48px !important; }
.mb-52-i { margin-bottom: 52px !important; }
.mb-56-i { margin-bottom: 56px !important; }
.mb-60-i { margin-bottom: 60px !important; }
.mb-64-i { margin-bottom: 64px !important; }
.mb-68-i { margin-bottom: 68px !important; }
.mb-72-i { margin-bottom: 72px !important; }
.mb-76-i { margin-bottom: 76px !important; }
.mb-80-i { margin-bottom: 80px !important; }
.mb-84-i { margin-bottom: 84px !important; }
.mb-88-i { margin-bottom: 88px !important; }
.mb-92-i { margin-bottom: 92px !important; }
.mb-96-i { margin-bottom: 96px !important; }
.mb-100-i { margin-bottom: 100px !important; }

.mx-0 { margin-left: 0; margin-right: 0; }
.mx-4 { margin-left: 4px; margin-right: 4px; }
.mx-8 { margin-left: 8px; margin-right: 8px; }
.mx-12 { margin-left: 12px; margin-right: 12px; }
.mx-16 { margin-left: 16px; margin-right: 16px; }
.mx-20 { margin-left: 20px; margin-right: 20px; }
.mx-24 { margin-left: 24px; margin-right: 24px; }
.mx-28 { margin-left: 28px; margin-right: 28px; }
.mx-32 { margin-left: 32px; margin-right: 32px; }
.mx-36 { margin-left: 36px; margin-right: 36px; }
.mx-40 { margin-left: 40px; margin-right: 40px; }
.mx-44 { margin-left: 44px; margin-right: 44px; }
.mx-48 { margin-left: 48px; margin-right: 48px; }
.mx-52 { margin-left: 52px; margin-right: 52px; }
.mx-56 { margin-left: 56px; margin-right: 56px; }
.mx-60 { margin-left: 60px; margin-right: 60px; }
.mx-64 { margin-left: 64px; margin-right: 64px; }
.mx-68 { margin-left: 68px; margin-right: 68px; }
.mx-72 { margin-left: 72px; margin-right: 72px; }
.mx-76 { margin-left: 76px; margin-right: 76px; }
.mx-80 { margin-left: 80px; margin-right: 80px; }
.mx-84 { margin-left: 84px; margin-right: 84px; }
.mx-88 { margin-left: 88px; margin-right: 88px; }
.mx-92 { margin-left: 92px; margin-right: 92px; }
.mx-96 { margin-left: 96px; margin-right: 96px; }
.mx-100 { margin-left: 100px; margin-right: 100px; }
.mx-0-i { margin-left: 0 !important; margin-right: 0 !important; }
.mx-4-i { margin-left: 4px !important; margin-right: 4px !important; }
.mx-8-i { margin-left: 8px !important; margin-right: 8px !important; }
.mx-12-i { margin-left: 12px !important; margin-right: 12px !important; }
.mx-16-i { margin-left: 16px !important; margin-right: 16px !important; }
.mx-20-i { margin-left: 20px !important; margin-right: 20px !important; }
.mx-24-i { margin-left: 24px !important; margin-right: 24px !important; }
.mx-28-i { margin-left: 28px !important; margin-right: 28px !important; }
.mx-32-i { margin-left: 32px !important; margin-right: 32px !important; }
.mx-36-i { margin-left: 36px !important; margin-right: 36px !important; }
.mx-40-i { margin-left: 40px !important; margin-right: 40px !important; }
.mx-44-i { margin-left: 44px !important; margin-right: 44px !important; }
.mx-48-i { margin-left: 48px !important; margin-right: 48px !important; }
.mx-52-i { margin-left: 52px !important; margin-right: 52px !important; }
.mx-56-i { margin-left: 56px !important; margin-right: 56px !important; }
.mx-60-i { margin-left: 60px !important; margin-right: 60px !important; }
.mx-64-i { margin-left: 64px !important; margin-right: 64px !important; }
.mx-68-i { margin-left: 68px !important; margin-right: 68px !important; }
.mx-72-i { margin-left: 72px !important; margin-right: 72px !important; }
.mx-76-i { margin-left: 76px !important; margin-right: 76px !important; }
.mx-80-i { margin-left: 80px !important; margin-right: 80px !important; }
.mx-84-i { margin-left: 84px !important; margin-right: 84px !important; }
.mx-88-i { margin-left: 88px !important; margin-right: 88px !important; }
.mx-92-i { margin-left: 92px !important; margin-right: 92px !important; }
.mx-96-i { margin-left: 96px !important; margin-right: 96px !important; }
.mx-100-i { margin-left: 100px !important; margin-right: 100px !important; }

.my-0 { margin-top: 0; margin-bottom: 0; }
.my-4 { margin-top: 4px; margin-bottom: 4px; }
.my-8 { margin-top: 8px; margin-bottom: 8px; }
.my-12 { margin-top: 12px; margin-bottom: 12px; }
.my-16 { margin-top: 16px; margin-bottom: 16px; }
.my-20 { margin-top: 20px; margin-bottom: 20px; }
.my-24 { margin-top: 24px; margin-bottom: 24px; }
.my-28 { margin-top: 28px; margin-bottom: 28px; }
.my-32 { margin-top: 32px; margin-bottom: 32px; }
.my-36 { margin-top: 36px; margin-bottom: 36px; }
.my-40 { margin-top: 40px; margin-bottom: 40px; }
.my-44 { margin-top: 44px; margin-bottom: 44px; }
.my-48 { margin-top: 48px; margin-bottom: 48px; }
.my-52 { margin-top: 52px; margin-bottom: 52px; }
.my-56 { margin-top: 56px; margin-bottom: 56px; }
.my-60 { margin-top: 60px; margin-bottom: 60px; }
.my-64 { margin-top: 64px; margin-bottom: 64px; }
.my-68 { margin-top: 68px; margin-bottom: 68px; }
.my-72 { margin-top: 72px; margin-bottom: 72px; }
.my-76 { margin-top: 76px; margin-bottom: 76px; }
.my-80 { margin-top: 80px; margin-bottom: 80px; }
.my-84 { margin-top: 84px; margin-bottom: 84px; }
.my-88 { margin-top: 88px; margin-bottom: 88px; }
.my-92 { margin-top: 92px; margin-bottom: 92px; }
.my-96 { margin-top: 96px; margin-bottom: 96px; }
.my-100 { margin-top: 100px; margin-bottom: 100px; }
.my-0-i { margin-top: 0 !important; margin-bottom: 0 !important; }
.my-4-i { margin-top: 4px !important; margin-bottom: 4px !important; }
.my-8-i { margin-top: 8px !important; margin-bottom: 8px !important; }
.my-12-i { margin-top: 12px !important; margin-bottom: 12px !important; }
.my-16-i { margin-top: 16px !important; margin-bottom: 16px !important; }
.my-20-i { margin-top: 20px !important; margin-bottom: 20px !important; }
.my-24-i { margin-top: 24px !important; margin-bottom: 24px !important; }
.my-28-i { margin-top: 28px !important; margin-bottom: 28px !important; }
.my-32-i { margin-top: 32px !important; margin-bottom: 32px !important; }
.my-36-i { margin-top: 36px !important; margin-bottom: 36px !important; }
.my-40-i { margin-top: 40px !important; margin-bottom: 40px !important; }
.my-44-i { margin-top: 44px !important; margin-bottom: 44px !important; }
.my-48-i { margin-top: 48px !important; margin-bottom: 48px !important; }
.my-52-i { margin-top: 52px !important; margin-bottom: 52px !important; }
.my-56-i { margin-top: 56px !important; margin-bottom: 56px !important; }
.my-60-i { margin-top: 60px !important; margin-bottom: 60px !important; }
.my-64-i { margin-top: 64px !important; margin-bottom: 64px !important; }
.my-68-i { margin-top: 68px !important; margin-bottom: 68px !important; }
.my-72-i { margin-top: 72px !important; margin-bottom: 72px !important; }
.my-76-i { margin-top: 76px !important; margin-bottom: 76px !important; }
.my-80-i { margin-top: 80px !important; margin-bottom: 80px !important; }
.my-84-i { margin-top: 84px !important; margin-bottom: 84px !important; }
.my-88-i { margin-top: 88px !important; margin-bottom: 88px !important; }
.my-92-i { margin-top: 92px !important; margin-bottom: 92px !important; }
.my-96-i { margin-top: 96px !important; margin-bottom: 96px !important; }
.my-100-i { margin-top: 100px !important; margin-bottom: 100px !important; }

.mx-auto { margin-left: auto; margin-right: auto; }
.my-auto { margin-top: auto; margin-bottom: auto; }
.m-auto { margin: auto; }

.mx-auto-i { margin-left: auto !important; margin-right: auto !important; }
.my-auto-i { margin-top: auto !important; margin-bottom: auto !important; }
.m-auto-i { margin: auto !important; }