ul.pagination {
	display: inline-block;
	vertical-align: middle;
	margin: auto;
	font-size: 0;
}

ul.pagination > li {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	box-sizing: border-box;
	padding: 2px;
	position: relative;
}

ul.pagination > li > a {
	color: #616161;
	text-align: center;
	border: 0;
	padding: 0 8px;
	line-height: 27px;
	height: 28px;
	min-width: 28px;
	display: block;
	width: 100%;
	font-size: 14px;
	border-radius: 14px;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	position: relative;
	font-weight: 500;
}

ul.pagination > li > a:hover {
	background-color: rgba(0,0,0,0.08);
}

ul.pagination > li.active > a,
ul.pagination > li > a:active {
	background-color: rgba(0,0,0,0.16);
}

ul.pagination > li.selected > a {
	color: rgba(0,0,0,0.5);
}

.pagination-block {
	padding: 20px 0;
	position: relative;
	min-height: 40px;
}