.popup {
	display: none;
	max-width: 280px;
	min-width: 160px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
	text-align: left;
}

.popup.active {
	display: block;
}

.popup > .popup-header {
	padding: 8px 12px;
	border-bottom: 1px solid rgba(0,0,0,0.08);
	background-color: #424242;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 2px 2px 0 0;
}

.popup > .popup-body {
	background-color: #fff;
	padding: 12px;
	border-radius: 0 0 2px 2px;
	position: relative;
}

.popup > .popup-body:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #424242;
	position: absolute;
	top: 100%;
	left: calc(50% - 8px);
}

.popup[data-popup-direction="left"] > .popup-body:after {
	top: calc(50% - 28px);
	left: 100%;
	border: 0;
	border-left: 8px solid #424242;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.popup[data-popup-direction="right"] > .popup-body:after {
	top: calc(50% - 28px);
	left: -8px;
	border: 0;
	border-left: 8px solid #424242;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.popup[data-popup-direction="bottom"] > .popup-body:after {
	top: -49px;
	border: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #424242;
}