.progress {
	width: 100%;
	height: 28px;
	position: relative;
	background-color: #212121;
	border-radius: 2px;
	padding: 4px;
}

.progress > .bar {
	height: 100%;
	width: 0;
	border-radius: 2px;
	background-color: #fff;
	/*box-shadow: 0 0 4px 0 #fff;*/
	position: relative;
	max-width: 100%;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.progress > .text {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	text-align: center;
	font-size: 12px;
	color: #424242;
	width: 100%;
	line-height: 28px;
}

.progress-radial {
	display: inline-block;
	width: 120px;
	height: 120px;
	margin: auto;
	border-radius: 50%;
	border: 16px solid #212121;
	position: relative;
	/*box-shadow: 0 0 8px 0 #fff;*/
}

.progress-radial > .text {
	z-index: 3;
	position: absolute;
	left: 0;
	bottom: calc(50% - 8px);
	width: 100%;
	color: #212121;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 0 0 16px #fff;
}

.progress-radial > .subtext {
	z-index: 3;
	position: absolute;
	left: 0;
	top: calc(50% + 4px);
	width: 100%;
	color: #757575;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	text-shadow: 0 0 12px #fff;
}

.progress-radial:before,
.progress-radial:after{
	position: absolute;
	left: -12px;
	top: -12px;
	display: block;
	content: "";
	box-sizing: content-box;
	z-index: 1;
	width: calc(100% + 8px);
	height: calc(100% + 8px);
	border: 8px solid #fff;
	border-radius: 50%;
	border-bottom-color: transparent;
	border-left-color: transparent;
	transform: rotate(45deg);
}

.progress-radial:after {
	border: 12px solid #212121;
	border-bottom-color: transparent;
	border-left-color: transparent;
	left: -14px;
	top: -14px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
}

.progress-radial[data-progress="0"]:after { transform: rotate(45deg); }
.progress-radial[data-progress="1"]:after { transform: rotate(48.6deg); }
.progress-radial[data-progress="2"]:after { transform: rotate(52.2deg); }
.progress-radial[data-progress="3"]:after { transform: rotate(55.8deg); }
.progress-radial[data-progress="4"]:after { transform: rotate(59.4deg); }
.progress-radial[data-progress="5"]:after { transform: rotate(63deg); }
.progress-radial[data-progress="6"]:after { transform: rotate(66.6deg); }
.progress-radial[data-progress="7"]:after { transform: rotate(70.2deg); }
.progress-radial[data-progress="8"]:after { transform: rotate(73.8deg); }
.progress-radial[data-progress="9"]:after { transform: rotate(77.4deg); }
.progress-radial[data-progress="10"]:after { transform: rotate(81deg); }
.progress-radial[data-progress="11"]:after { transform: rotate(84.6deg); }
.progress-radial[data-progress="12"]:after { transform: rotate(88.2deg); }
.progress-radial[data-progress="13"]:after { transform: rotate(91.8deg); }
.progress-radial[data-progress="14"]:after { transform: rotate(95.4deg); }
.progress-radial[data-progress="15"]:after { transform: rotate(99deg); }
.progress-radial[data-progress="16"]:after { transform: rotate(102.6deg); }
.progress-radial[data-progress="17"]:after { transform: rotate(106.2deg); }
.progress-radial[data-progress="18"]:after { transform: rotate(109.8deg); }
.progress-radial[data-progress="19"]:after { transform: rotate(113.4deg); }
.progress-radial[data-progress="20"]:after { transform: rotate(117deg); }
.progress-radial[data-progress="21"]:after { transform: rotate(120.6deg); }
.progress-radial[data-progress="22"]:after { transform: rotate(124.2deg); }
.progress-radial[data-progress="23"]:after { transform: rotate(127.8deg); }
.progress-radial[data-progress="24"]:after { transform: rotate(131.4deg); }
.progress-radial[data-progress="25"]:after { transform: rotate(135deg); }
.progress-radial[data-progress="26"]:after { transform: rotate(138.6deg); }
.progress-radial[data-progress="27"]:after { transform: rotate(142.2deg); }
.progress-radial[data-progress="28"]:after { transform: rotate(145.8deg); }
.progress-radial[data-progress="29"]:after { transform: rotate(149.4deg); }
.progress-radial[data-progress="30"]:after { transform: rotate(153deg); }
.progress-radial[data-progress="31"]:after { transform: rotate(156.6deg); }
.progress-radial[data-progress="32"]:after { transform: rotate(160.2deg); }
.progress-radial[data-progress="33"]:after { transform: rotate(163.8deg); }
.progress-radial[data-progress="34"]:after { transform: rotate(167.4deg); }
.progress-radial[data-progress="35"]:after { transform: rotate(171deg); }
.progress-radial[data-progress="36"]:after { transform: rotate(174.6deg); }
.progress-radial[data-progress="37"]:after { transform: rotate(178.2deg); }
.progress-radial[data-progress="38"]:after { transform: rotate(181.8deg); }
.progress-radial[data-progress="39"]:after { transform: rotate(185.4deg); }
.progress-radial[data-progress="40"]:after { transform: rotate(189deg); }
.progress-radial[data-progress="41"]:after { transform: rotate(192.6deg); }
.progress-radial[data-progress="42"]:after { transform: rotate(196.2deg); }
.progress-radial[data-progress="43"]:after { transform: rotate(199.8deg); }
.progress-radial[data-progress="44"]:after { transform: rotate(203.4deg); }
.progress-radial[data-progress="45"]:after { transform: rotate(207deg); }
.progress-radial[data-progress="46"]:after { transform: rotate(210.6deg); }
.progress-radial[data-progress="47"]:after { transform: rotate(214.2deg); }
.progress-radial[data-progress="48"]:after { transform: rotate(217.8deg); }
.progress-radial[data-progress="49"]:after { transform: rotate(221.4deg); }
.progress-radial[data-progress="50"]:after { transform: rotate(45deg); }
.progress-radial[data-progress="51"]:after { transform: rotate(48.6deg); }
.progress-radial[data-progress="52"]:after { transform: rotate(52.2deg); }
.progress-radial[data-progress="53"]:after { transform: rotate(55.8deg); }
.progress-radial[data-progress="54"]:after { transform: rotate(59.4deg); }
.progress-radial[data-progress="55"]:after { transform: rotate(63deg); }
.progress-radial[data-progress="56"]:after { transform: rotate(66.6deg); }
.progress-radial[data-progress="57"]:after { transform: rotate(70.2deg); }
.progress-radial[data-progress="58"]:after { transform: rotate(73.8deg); }
.progress-radial[data-progress="59"]:after { transform: rotate(77.4deg); }
.progress-radial[data-progress="60"]:after { transform: rotate(81deg); }
.progress-radial[data-progress="61"]:after { transform: rotate(84.6deg); }
.progress-radial[data-progress="62"]:after { transform: rotate(88.2deg); }
.progress-radial[data-progress="63"]:after { transform: rotate(91.8deg); }
.progress-radial[data-progress="64"]:after { transform: rotate(95.4deg); }
.progress-radial[data-progress="65"]:after { transform: rotate(99deg); }
.progress-radial[data-progress="66"]:after { transform: rotate(102.6deg); }
.progress-radial[data-progress="67"]:after { transform: rotate(106.2deg); }
.progress-radial[data-progress="68"]:after { transform: rotate(109.8deg); }
.progress-radial[data-progress="69"]:after { transform: rotate(113.4deg); }
.progress-radial[data-progress="70"]:after { transform: rotate(117deg); }
.progress-radial[data-progress="71"]:after { transform: rotate(120.6deg); }
.progress-radial[data-progress="72"]:after { transform: rotate(124.2deg); }
.progress-radial[data-progress="73"]:after { transform: rotate(127.8deg); }
.progress-radial[data-progress="74"]:after { transform: rotate(131.4deg); }
.progress-radial[data-progress="75"]:after { transform: rotate(135deg); }
.progress-radial[data-progress="76"]:after { transform: rotate(138.6deg); }
.progress-radial[data-progress="77"]:after { transform: rotate(142.2deg); }
.progress-radial[data-progress="78"]:after { transform: rotate(145.8deg); }
.progress-radial[data-progress="79"]:after { transform: rotate(149.4deg); }
.progress-radial[data-progress="80"]:after { transform: rotate(153deg); }
.progress-radial[data-progress="81"]:after { transform: rotate(156.6deg); }
.progress-radial[data-progress="82"]:after { transform: rotate(160.2deg); }
.progress-radial[data-progress="83"]:after { transform: rotate(163.8deg); }
.progress-radial[data-progress="84"]:after { transform: rotate(167.4deg); }
.progress-radial[data-progress="85"]:after { transform: rotate(171deg); }
.progress-radial[data-progress="86"]:after { transform: rotate(174.6deg); }
.progress-radial[data-progress="87"]:after { transform: rotate(178.2deg); }
.progress-radial[data-progress="88"]:after { transform: rotate(181.8deg); }
.progress-radial[data-progress="89"]:after { transform: rotate(185.4deg); }
.progress-radial[data-progress="90"]:after { transform: rotate(189deg); }
.progress-radial[data-progress="91"]:after { transform: rotate(192.6deg); }
.progress-radial[data-progress="92"]:after { transform: rotate(196.2deg); }
.progress-radial[data-progress="93"]:after { transform: rotate(199.8deg); }
.progress-radial[data-progress="94"]:after { transform: rotate(203.4deg); }
.progress-radial[data-progress="95"]:after { transform: rotate(207deg); }
.progress-radial[data-progress="96"]:after { transform: rotate(210.6deg); }
.progress-radial[data-progress="97"]:after { transform: rotate(214.2deg); }
.progress-radial[data-progress="98"]:after { transform: rotate(217.8deg); }
.progress-radial[data-progress="99"]:after { transform: rotate(221.4deg); }
.progress-radial[data-progress="100"]:after { transform: rotate(225deg); }

.progress-radial[data-progress="50"]:after,
.progress-radial[data-progress="51"]:after,
.progress-radial[data-progress="52"]:after,
.progress-radial[data-progress="53"]:after,
.progress-radial[data-progress="54"]:after,
.progress-radial[data-progress="55"]:after,
.progress-radial[data-progress="56"]:after,
.progress-radial[data-progress="57"]:after,
.progress-radial[data-progress="58"]:after,
.progress-radial[data-progress="59"]:after,
.progress-radial[data-progress="60"]:after,
.progress-radial[data-progress="61"]:after,
.progress-radial[data-progress="62"]:after,
.progress-radial[data-progress="63"]:after,
.progress-radial[data-progress="64"]:after,
.progress-radial[data-progress="65"]:after,
.progress-radial[data-progress="66"]:after,
.progress-radial[data-progress="67"]:after,
.progress-radial[data-progress="68"]:after,
.progress-radial[data-progress="69"]:after,
.progress-radial[data-progress="70"]:after,
.progress-radial[data-progress="71"]:after,
.progress-radial[data-progress="72"]:after,
.progress-radial[data-progress="73"]:after,
.progress-radial[data-progress="74"]:after,
.progress-radial[data-progress="75"]:after,
.progress-radial[data-progress="76"]:after,
.progress-radial[data-progress="77"]:after,
.progress-radial[data-progress="78"]:after,
.progress-radial[data-progress="79"]:after,
.progress-radial[data-progress="80"]:after,
.progress-radial[data-progress="81"]:after,
.progress-radial[data-progress="82"]:after,
.progress-radial[data-progress="83"]:after,
.progress-radial[data-progress="84"]:after,
.progress-radial[data-progress="85"]:after,
.progress-radial[data-progress="86"]:after,
.progress-radial[data-progress="87"]:after,
.progress-radial[data-progress="88"]:after,
.progress-radial[data-progress="89"]:after,
.progress-radial[data-progress="90"]:after,
.progress-radial[data-progress="91"]:after,
.progress-radial[data-progress="92"]:after,
.progress-radial[data-progress="93"]:after,
.progress-radial[data-progress="94"]:after,
.progress-radial[data-progress="95"]:after,
.progress-radial[data-progress="96"]:after,
.progress-radial[data-progress="97"]:after,
.progress-radial[data-progress="98"]:after,
.progress-radial[data-progress="99"]:after,
.progress-radial[data-progress="100"]:after {
	border: 8px solid #fff;
	border-bottom-color: transparent;
	border-left-color: transparent;
	left: -12px;
	top: -12px;
	width: calc(100% + 8px);
	height: calc(100% + 8px);
}