.tabs {
	display: grid;
	align-items: start;
	grid-template-columns: 100%;
}

.tabs.tabs-horizontal {
	grid-template-columns: 280px calc(100% - 280px);
}

.tabs > .tab-links {
	font-size: 0;
	background-color: #2196F3;
	border-radius: 2px 2px 0 0;
	box-sizing: border-box;
	display: block;
	padding: 0 20px;
	height: 100%;
}

.tabs.tabs-horizontal > .tab-links {
	border-radius: 2px 0 0 2px;
	padding: 0;
}

.tabs > .tab-links > li {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}

.tabs.tabs-horizontal > .tab-links > li {
	display: block;
	width: 100%;
}

.tabs > .tab-links > li .tab-link {
	line-height: 60px;
	height: 60px;
	min-width: 60px;
	box-sizing: border-box;
	display: block;
	padding: 0 28px;
	font-weight: 500;
	color: #fafafa;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	position: relative;
	background: none;
	border: 0;
}

.tabs.tabs-horizontal > .tab-links > li .tab-link {
	padding: 0 20px;
	border: 0;
	border-left: 4px solid transparent;
}

.tabs > .tab-links > li .tab-link:hover,
.tabs > .tab-links > li .tab-link.active {
	border-bottom: 4px solid #fafafa;
}

.tabs.tabs-horizontal > .tab-links > li .tab-link:hover,
.tabs.tabs-horizontal > .tab-links > li .tab-link.active {
	border: 0;
	border-left: 4px solid #fafafa;
}

.tabs > .tab-list {
	height: 100%;
}

.tabs > .tab-list > .tab-id {
	display: none;
	padding: 20px 0;
	border-radius: 0 0 2px 2px;
}

.tabs.tabs-horizontal > .tab-list > .tab-id {
	border-radius: 0 2px 2px 0;
	height: 100%;
}

.tabs > .tab-list > .tab-id.active {
	display: block;
}