@media (max-width: 767px) {
	.tabs > .tab-links {
		padding: 8px;
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 8px;
	}

	.tabs > .tab-links > li {
		display: block;
	}

	.tabs > .tab-links > li > .tab-link {
		line-height: 40px;
		height: 40px;
		min-width: 40px;
		padding: 0 12px;
		width: 100%;
		display: block;
	}

	.tabs > .tab-links > li > .tab-link:hover,
	.tabs > .tab-links > li > .tab-link.active {
		border: 0;
		background-color: rgba(0,0,0,0.1);
	}

	.tabs.tabs-horizontal {
		grid-template-columns: 100%;
	}

	.tabs > .tab-links > li .tab-link:hover,
	.tabs > .tab-links > li .tab-link.active {
		border: 0;
	}
}