.tooltip {
	position: absolute;
	display: none;
	left: -9999px;
	top: -9999px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 2px;
	padding: 4px 8px;
	color: #fff;
	max-width: 240px;
	word-break: break-word;
	opacity: 0;
	visibility: hidden;
	z-index: 10;
	transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.tooltip.tooltip-pos-left,
.tooltip.tooltip-pos-right,
.tooltip.tooltip-pos-top,
.tooltip.tooltip-pos-bottom,
.tooltip.tooltip-pos{
	display: block;
}

.tooltip.show {
	visibility: visible;
	opacity: 1;
}

.tooltip:not(.show){
	left: -9999px !important;
	top: -9999px !important;
}

.tooltip:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid rgba(0,0,0,0.8);
	position: absolute;
	top: 100%;
	left: calc(50% - 4px);
}

.tooltip.tooltip-pos-left:after {
	border-right: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid rgba(0,0,0,0.8);
	left: 100%;
	top: calc(50% - 4px);
}

.tooltip.tooltip-pos-right:after {
	border-left: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 4px solid rgba(0,0,0,0.8);
	left: -4px;
	top: calc(50% - 4px);
}

.tooltip.tooltip-pos-bottom:after {
	border-top: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid rgba(0,0,0,0.8);
	left: calc(50% - 4px);
	top: -4px;
}