@import "palette";
@import "globals";
@import "mixins";

$ALERTBLOCK_PADDING: $DEFAULT_DIVIDER * 5px;

$ALERTBLOCK_LINE_HEIGHT: $DEFAULT_DIVIDER * 5px;

$ALERTBLOCK_BORDER_RADIUS: $DEFAULT_BORDER_RADIUS;

@mixin ALERTBLOCK_FONT {
  @include DEFAULT_FONT;
}

.alertblock {
  background-color: map_get($PALETTE, 'deep-purple-50');
  color: rgba(0,0,0,0.6);
  padding: $ALERTBLOCK_PADDING;
  position: relative;
  line-height: $ALERTBLOCK_LINE_HEIGHT;
  border-radius: $ALERTBLOCK_BORDER_RADIUS;
}

.alertblock.alertblock-before {
  padding-left: $ALERTBLOCK_PADDING * 3;
}

.alertblock.alertblock-after {
  padding-right: $ALERTBLOCK_PADDING * 3;
}

.alertblock.alertblock-before > .before,
.alertblock.alertblock-after > .after {
  position: absolute;
  top: $ALERTBLOCK_PADDING;
  left: $ALERTBLOCK_PADDING;
  width: $ALERTBLOCK_PADDING * 2;
  @include DEFAULT_FONT;
  color: rgba(0,0,0,0.4);
}

.alertblock.alertblock-after > .after {
  left: auto;
  right: $ALERTBLOCK_PADDING;
  text-align: right;
}

.alertblock .alertblock-close {
  color: inherit;
  box-sizing: border-box;
  width: $ALERTBLOCK_PADDING;
  display: inline-block;
  text-align: center;
  transition: $DEFAULT_TRANSITION;
}

.alertblock .alertblock-close:hover {
  color: rgba(0,0,0,0.8);
}