@import "globals";

$ALERT_MIN_WIDTH: 300px;

$ALERT_BORDER_RADIUS: $DEFAULT_BORDER_RADIUS;

$ALERT_PADDING_WIDTH: $DEFAULT_PADDING_WIDTH;

$ALERT_BACKGROUND_COLOR: map_get($PALETTE, 'gray-900');

.alert {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: $ALERT_PADDING_WIDTH;
  text-align: center;
  visibility: hidden;
  width: $DEFAULT_RESPONSIVE_BREAKPOINT;
  margin: auto;
}

.alert:empty {
  display: none;
}

.alert > .alert-id {
  text-align: left;
  display: block;
  vertical-align: top;
  width: max-content;
  min-width: $ALERT_MIN_WIDTH;
  max-width: 100%;
  visibility: visible;
  color: map_get($PALETTE, 'white');
  background-color: map_get($PALETTE, 'gray-900');
  box-shadow: $DEFAULT_BOX_SHADOW;
  padding: $ALERT_PADDING_WIDTH;
  margin: auto auto $ALERT_PADDING_WIDTH auto;
  border-radius: $ALERT_BORDER_RADIUS;
}

.alert[data-placement^="top-"] {
  bottom: auto;
  top: 0;
}

.alert[data-placement^="bottom-"] {
  top: auto;
  bottom: 0;
}

.alert[data-placement$="-left"] {
  right: auto;
  left: 0;
}

.alert[data-placement$="-right"] {
  left: auto;
  right: 0;
}

.alert[data-placement^="center-"] {
  bottom: auto;
  top: 50%;
  margin-top: -70px;
}

.alert[data-placement$="-center"] {
  right: auto;
  left: 50%;
  margin-left: $DEFAULT_RESPONSIVE_BREAKPOINT / 2 * -1;
}

.alert[data-placement$="-left"] > .alert-id {
  margin-left: 0;
  margin-right: 0;
}

.alert[data-placement$="-right"] > .alert-id {
  margin-left: auto;
  margin-right: 0;
}

.alert[data-placement$="-center"] > .alert-id {
  margin-left: auto;
  margin-right: auto;
}

.alert[data-placement^="top-"] > .alert-id:first-child {
  margin-top: 0 !important;
}

.alert[data-placement^="center-"] > .alert-id:last-child {
  margin-bottom: 0 !important;
}

.alert[data-placement^="bottom-"] > .alert-id:last-child {
  margin-bottom: 0 !important;
}

.alert > .alert-id > .alert-footer {
  padding-top: $ALERT_PADDING_WIDTH;
  display: grid;
  grid-template-columns: calc(100% - 100px - #{$ALERT_PADDING_WIDTH}) 100px;
  grid-gap: $ALERT_PADDING_WIDTH;
  align-items: center;
}

.alert > .alert-id > .alert-footer > .block-left {
}

.alert > .alert-id > .alert-footer > .block-right {
  text-align: right;
}

.alert > .alert-id > .alert-footer .btn {
  margin-top: 0;
}