@import "Palette";
@import "Globals";

.autocomplete {
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-top: #{$DEFAULT_DIVIDER}px;
  z-index: 1;
  background-color: map_get($PALETTE, 'white');
  box-shadow: $DEFAULT_BOX_SHADOW;
  border-radius: $DEFAULT_BORDER_RADIUS;
  padding: #{$DEFAULT_DIVIDER}px 0;
  width: 200px;
  visibility: hidden;
  transition: $DEFAULT_TRANSITION;
  transition-property: opacity, visibility;
  pointer-events: none;
  opacity: 0;
}

.autocomplete.autocomplete-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.autocomplete > .autocomplete-list {
  display: grid;
  grid-template-columns: 100%;
  max-height: 240px;
  overflow: auto;
  scrollbar-width: thin;
}

.autocomplete > .autocomplete-list > .autocomplete-item {
  display: flex;
  padding: $DEFAULT_DIVIDER * 2px;
  cursor: pointer;
  transition: $DEFAULT_TRANSITION;
  color: map_get($PALETTE, 'gray-800');
}

.autocomplete > .autocomplete-list > .autocomplete-item:hover,
.autocomplete > .autocomplete-list > .autocomplete-item.hover {
  background-color: map_get($PALETTE, 'gray-100');
}