@import "palette";
@import "globals";

.bb-bold {
  font-weight: 500;
}

.bb-italic {
  font-style: italic;
}

.bb-underline {
  text-decoration: underline;
}

.bb-strike {
  text-decoration: line-through;
}

.bb-text-left {
  display: block;
  text-align: left;
}

.bb-text-center {
  display: block;
  text-align: center;
}

.bb-text-right {
  display: block;
  text-align: right;
}

.bb-line {
  display: block;
  width: 100%;
  line-height: $DEFAULT_DIVIDER * 8px;
  height: $DEFAULT_DIVIDER * 8px;
  position: relative;
}

.bb-line:after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: rgba(158, 158, 158, 0.2);
}

.bb-spoiler-wrapper {
  padding: $DEFAULT_PADDING_WIDTH 0;
}

.bb-spoiler-wrapper > .bb-spoiler {
  transition: $DEFAULT_TRANSITION;
  box-shadow: $DEFAULT_BOX_SHADOW;
  border-radius: $DEFAULT_BORDER_RADIUS;
}

.bb-spoiler-wrapper > .bb-spoiler.open {
  box-shadow: $DEFAULT_BOX_SHADOW_ACTIVE;
}

.bb-spoiler-wrapper > .bb-spoiler > .bb-spoiler-trigger {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: $DEFAULT_BORDER_RADIUS;
  padding: 0 $DEFAULT_PADDING_WIDTH;
  height: $DEFAULT_DIVIDER * 9px;
  line-height: $DEFAULT_DIVIDER * 9px;
  position: relative;
  color: map_get($PALETTE, 'gray');
}

.bb-spoiler-wrapper > .bb-spoiler > .bb-spoiler-trigger:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 $DEFAULT_PADDING_WIDTH;
  content: '˅';
  font-size: $DEFAULT_FONT_SIZE + 2;
  text-align: center;
  height: $DEFAULT_DIVIDER * 9px;
  line-height: $DEFAULT_DIVIDER * 9px;
  transform: rotate(0deg);
  transition: $DEFAULT_TRANSITION;
}

.bb-spoiler-wrapper > .bb-spoiler.open > .bb-spoiler-trigger {
  color: map_get($PALETTE, 'gray-600');
}

.bb-spoiler-wrapper > .bb-spoiler.open > .bb-spoiler-trigger:after {
  transform: rotate(180deg);
}

.bb-spoiler-wrapper > .bb-spoiler > .bb-spoiler-text {
  display: none;
  padding: $DEFAULT_PADDING_WIDTH;
}

.bb-image {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: $DEFAULT_PADDING_WIDTH 0;
}

.bb-quote-wrapper {
  padding: $DEFAULT_PADDING_WIDTH 0;
  position: relative;
}

.bb-quote-wrapper:after {
  position: absolute;
  top: -9px;
  right: 7px;
  color: map_get($PALETTE, 'gray-300');
  display: block;
  content: "❞";
  font-size: 52px;
}

.bb-quote-wrapper > .bb-quote {
  padding: $DEFAULT_PADDING_WIDTH;
  background-color: map_get($PALETTE, 'gray-100');
  border-radius: $DEFAULT_BORDER_RADIUS;
  color: rgba(0,0,0,0.6);
}

.bb-quote-wrapper > .bb-quote > .bb-quote-title {
  position: absolute;
  top: $DEFAULT_DIVIDER * 2px;
  right: $DEFAULT_PADDING_WIDTH * 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #EEEEEE;
  border-radius: $DEFAULT_BORDER_RADIUS;
  line-height: $DEFAULT_DIVIDER * 5px;
  height: $DEFAULT_DIVIDER * 5px;
  font-size: $DEFAULT_FONT_SIZE - 4;
  padding: 0 ($DEFAULT_DIVIDER * 2px);
  color: #BDBDBD;
  max-width: calc(100% - #{$DEFAULT_PADDING_WIDTH * 2});
  text-align: center;
}

.bb-code {
  padding: $DEFAULT_PADDING_WIDTH 0;
  position: relative;
}

.bb-code > .bb-code-text {
  padding: $DEFAULT_PADDING_WIDTH;
  background-color: map_get($PALETTE, 'red-50');
  border-radius: $DEFAULT_BORDER_RADIUS;
  color: map_get($PALETTE, 'red-300');
  line-height: $DEFAULT_DIVIDER * 5px;
  word-break: break-word;
}

.bb-code > .bb-code-language {
  position: absolute;
  top: 8px;
  right: $DEFAULT_DIVIDER * 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: $DEFAULT_BORDER_RADIUS;
  line-height: $DEFAULT_DIVIDER * 5px;
  height: $DEFAULT_DIVIDER * 5px;
  font-size: $DEFAULT_FONT_SIZE + 2;
  color: map_get($PALETTE, 'red-200');
  max-width: calc(100% - #{$DEFAULT_DIVIDER * 5px});
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.bb-youtube {
  margin: $DEFAULT_PADDING_WIDTH auto;
  display: block;
  text-align: center;
}