@import "Palette";
@import "Globals";

.breadcrumbs {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 0;
}

.breadcrumbs > .bc-item {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding-right: $DEFAULT_DIVIDER * 3px;
  line-height: $DEFAULT_DIVIDER * 6px;
}

.breadcrumbs > .bc-item.disabled {
  color: map_get($PALETTE, 'gray');
}

.breadcrumbs > .bc-item:after {
  display: inline-block;
  vertical-align: middle;
  content: "\00BB";
  color: map_get($PALETTE, 'gray-400');
  font-size: 12px;
  line-height: inherit;
  box-sizing: border-box;
  padding-left: $DEFAULT_DIVIDER * 3px;
}

.breadcrumbs > .bc-item:last-child {
  padding: 0;
  margin: 0;
}

.breadcrumbs > .bc-item:last-child:after {
  display: none;
}