@import "palette";
@import "globals";

select, button, label, input[type="checkbox"], input[type="radio"], input[type="file"] { cursor: pointer; }

button {
  outline: none;
}

input,
textarea,
select {
  box-sizing: border-box;
  line-height: $INPUT_DEFAULT_HEIGHT;
  height: $INPUT_DEFAULT_HEIGHT;
  padding: 0 ($DEFAULT_DIVIDER * 2px);
  border: 0;
  outline: none;
  display: block;
  font-size: $DEFAULT_FONT_SIZE;
  width: 100%;
  border-radius: $DEFAULT_BORDER_RADIUS;
  margin-bottom: $DEFAULT_DIVIDER * 5px;
  color: map_get($PALETTE, 'ray-800');
  box-shadow: $DEFAULT_BOX_SHADOW;
  transition: $DEFAULT_TRANSITION;
  text-align: left;
  position: relative;
  background-color: map_get($PALETTE, 'white');
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: $DEFAULT_BOX_SHADOW_ACTIVE;
}

input[readonly],
textarea[readonly],
select[readonly] {
  background-color: map_get($PALETTE, 'gray-200');
}

input:disabled,
textarea:disabled,
select:disabled {
  cursor: not-allowed;
  background-color: map_get($PALETTE, 'gray-200');
}

input[type="checkbox"], input[type="radio"] {
  box-shadow: none;
  height: auto;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

input[type="range"] {
  padding: 0;
  box-shadow: none;
}

textarea {
  line-height: normal;
  height: auto;
  min-height: $DEFAULT_DIVIDER * 25px;
  padding: ($DEFAULT_DIVIDER * 1px) ($DEFAULT_DIVIDER * 2px);
  max-width: 100%;
}

.input-block-file {
  display: inline-block;
}

.input-block-file input[type="file"] {
  display: none;
}

input[type="file"] {

}

input[type="file"].styled {
  display: none;
}

select[multiple] {
  padding: $DEFAULT_DIVIDER * 2px;
  min-height: $DEFAULT_DIVIDER * 25px;
}

select[multiple] option {
  padding: ($DEFAULT_DIVIDER * 1px) ($DEFAULT_DIVIDER * 2px);
  border-radius: $DEFAULT_BORDER_RADIUS;
}

label {
  display: block;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  top: -1px;
}

.input-block {
  position: relative;
  padding-bottom: $DEFAULT_DIVIDER * 6px;
  text-align: left;
  min-height: $DEFAULT_DIVIDER * 7px;
}

.input-block .input-helper {
  display: block;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: $DEFAULT_DIVIDER * 6px;
  font-size: $DEFAULT_FONT_SIZE - 2;
  color: map_get($PALETTE, 'gray');
  padding: 0 ($DEFAULT_DIVIDER * 2px);
  transition: $DEFAULT_TRANSITION;
}

.input-block:hover .input-helper {
  opacity: 1;
}

.input-block input,
.input-block textarea,
.input-block select{
  margin: 0;
}

.input-block > label {
  box-sizing: border-box;
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  line-height: $DEFAULT_DIVIDER * 6px;
  font-size: $DEFAULT_FONT_SIZE - 2;
  padding: 0 ($DEFAULT_DIVIDER * 2px);
  color: map_get($PALETTE, 'gray-800');
  font-weight: 500;
}

.input-block > label > input[type="checkbox"],
.input-block > label > input[type="radio"] {
  margin: 0;
  top: -1px;
}

.input-append,
.input-prepend {
  position: relative;
}

.input-append > input,
.input-append > select,
.input-append > textarea {
  padding-right: $DEFAULT_DIVIDER * 9px;
}

.input-prepend > input,
.input-prepend > select,
.input-prepend > textarea {
  padding-left: $DEFAULT_DIVIDER * 9px;
}

.input-append > .append,
.input-prepend > .prepend {
  position: absolute;
  top: 1px;
  min-width: $DEFAULT_DIVIDER * 9px - 2px;
  line-height: $DEFAULT_DIVIDER * 9px - 3px;
  padding: 0 ($DEFAULT_DIVIDER * 1px);
  height: $DEFAULT_DIVIDER * 9px - 2px;
  text-align: center;
  z-index: 1;
  color: rgba(0,0,0,0.3);
  border-radius: 0 $DEFAULT_BORDER_RADIUS $DEFAULT_BORDER_RADIUS 0;
}

.input-append > .append {
  right: 1px;
}

.input-prepend > .prepend {
  left: 1px;
}

.input-prepend input[type="checkbox"],
.input-append input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  margin: 0;
}

.input-prepend > label,
.input-append > label {
  box-sizing: border-box;
  padding: 0 ($DEFAULT_DIVIDER * 2px);
  width: 100%;
  display: block;
  line-height: $DEFAULT_DIVIDER * 5px;
  text-align: left;
  color: map_get($PALETTE, 'gray-700');
}

.input-block > label .checkbox-style,
.input-block > label .radio-style{
  vertical-align: text-bottom;
}

.checkbox-style,
.radio-style{
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: $DEFAULT_DIVIDER * 4px;
  height: $DEFAULT_DIVIDER * 4px;
  border-radius: $DEFAULT_BORDER_RADIUS;
}

.radio-style {
  border-radius: 50%;
}

.checkbox-style input,
.radio-style input{
  opacity: 0 !important;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox-style .checkbox-style-checked,
.radio-style .checkbox-style-checked {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  display: block;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  vertical-align: top;
  transition: $DEFAULT_TRANSITION;
  border: 1px solid map_get($PALETTE, 'blue');
  overflow: hidden;
}

.radio-style .checkbox-style-checked {
  border-radius: 50%;
}

.checkbox-style .checkbox-style-checked:after {
  content: "";
  display: block;
  font-size: $DEFAULT_FONT_SIZE - 2;
  color: map_get($PALETTE, 'white');
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: $DEFAULT_FONT_SIZE;
  font-weight: 500;
  border-radius: inherit;
  transition: $DEFAULT_TRANSITION;
}

.radio-style .checkbox-style-checked:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  left: 3px;
  top: 3px;
  position: absolute;
  opacity: 0;
  background-color: map_get($PALETTE, 'blue');
  border-radius: inherit;
  transition: $DEFAULT_TRANSITION;
}

.checkbox-style input:checked + .checkbox-style-checked {
  background-color: map_get($PALETTE, 'blue');
}

.checkbox-style input:checked + .checkbox-style-checked:after {
  content: "\2713";
}

.radio-style input:disabled + .checkbox-style-checked{
  cursor: not-allowed;
}

.radio-style input:disabled + .checkbox-style-checked {
  border-color: map_get($PALETTE, 'gray-400');
}

.radio-style input:checked:disabled + .checkbox-style-checked:after {
  background-color: map_get($PALETTE, 'gray-400');
}

.radio-style input:checked + .checkbox-style-checked:after {
  opacity: 1;
}

.checkbox-style input:disabled + .checkbox-style-checked,
.checkbox-style input:checked:disabled + .checkbox-style-checked {
  cursor: not-allowed;
  border-color: map_get($PALETTE, 'gray-400');
}

.checkbox-style input:checked:disabled + .checkbox-style-checked {
  background-color: map_get($PALETTE, 'gray-400');
}

.checkbox-style input:disabled + .checkbox-style-checked:after {
  color: map_get($PALETTE, 'white');
}