@import "palette";
@import "globals";

.formvalidator-alert {
  padding: ($DEFAULT_DIVIDER * 2px);
  background-color: map_get($PALETTE, 'white');
  box-shadow: $DEFAULT_BOX_SHADOW;
  color: map_get($PALETTE, 'gray-800');
  margin-top: ($DEFAULT_DIVIDER * 2px);
  position: relative;
  border-radius: $DEFAULT_BORDER_RADIUS;
}

.formvalidator-alert:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: ($DEFAULT_DIVIDER * 1px) solid transparent;
  border-right: ($DEFAULT_DIVIDER * 1px) solid transparent;
  border-bottom: ($DEFAULT_DIVIDER * 1px) solid map_get($PALETTE, 'white');
  position: absolute;
  top: -#{$DEFAULT_DIVIDER * 1px};
  left: ($DEFAULT_DIVIDER * 1px);
}

.formvalidator-alert.warning {
  background-color: map_get($PALETTE, 'amber');
  color: map_get($PALETTE, 'white');
}

.formvalidator-alert.warning:before {
  border-bottom: ($DEFAULT_DIVIDER * 1px) solid map_get($PALETTE, 'amber');
}

.formvalidator-alert.danger {
  background-color: map_get($PALETTE, 'red');
  color: map_get($PALETTE, 'white');
}

.formvalidator-alert.danger:before {
  border-bottom: ($DEFAULT_DIVIDER * 1px) solid map_get($PALETTE, 'red');
}

.formvalidator-alert.info {
  background-color: map_get($PALETTE, 'indigo');
  color: map_get($PALETTE, 'white');
}

.formvalidator-alert.info:before {
  border-bottom: ($DEFAULT_DIVIDER * 1px) solid map_get($PALETTE, 'indigo');
}

.formvalidator-alert.success {
  background-color: map_get($PALETTE, 'green');
  color: map_get($PALETTE, 'white');
}

.formvalidator-alert.success:before {
  border-bottom: ($DEFAULT_DIVIDER * 1px) solid map_get($PALETTE, 'green');
}

.formvalidator-alert > .wrapper {
  display: grid;
  grid-template-columns: ($DEFAULT_DIVIDER * 9px) calc(100% - #{$DEFAULT_DIVIDER * 22px}) ($DEFAULT_DIVIDER * 9px);
  grid-gap: ($DEFAULT_DIVIDER * 2px);
  align-items: center;
}

.formvalidator-alert > .wrapper > .icon-block {
  line-height: ($DEFAULT_DIVIDER * 9px) + 1;
  height: ($DEFAULT_DIVIDER * 9px);
  text-align: center;
  font-size: $DEFAULT_FONT_SIZE + 2;
}

.formvalidator-alert > .wrapper > .close-block > .close {
  color: map_get($PALETTE, 'white');
  line-height: ($DEFAULT_DIVIDER * 9px) - 1;
  height: ($DEFAULT_DIVIDER * 9px);
  text-align: center;
  display: block;
  width: 100%;
  border-radius: 50%;
  transition: $DEFAULT_TRANSITION;
  font-size: $DEFAULT_FONT_SIZE + 11;
}

.formvalidator-alert > .wrapper > .close-block > .close:hover {
  background-color: rgba(0,0,0,0.1);
}