@import "palette";

$DEFAULT_FONT_FAMILY: 'Roboto', sans-serif;

$DEFAULT_FONT_SIZE: 14px;

$DEFAULT_COLOR: map_get($PALETTE, 'gray-800');

$DEFAULT_SUB_COLOR: map_get($PALETTE, 'gray-900');

$DEFAULT_DIVIDER: 4;

$DEFAULT_PADDING_WIDTH: $DEFAULT_DIVIDER * 5px;
$RESPONSIVE_PADDING_WIDTH: $DEFAULT_DIVIDER * 3px;
$DEFAULT_BORDER_RADIUS: 2px;

$DEFAULT_BOX_SHADOW: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
$DEFAULT_BOX_SHADOW_ACTIVE: rgba(0, 0, 0, 0.16) 0 4px 12px, rgba(0, 0, 0, 0.24) 0 4px 12px;

$DEFAULT_TRANSITION_MOVING: 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

$DEFAULT_TRANSITION: all $DEFAULT_TRANSITION_MOVING;

$BP_PHONE: "phone";
$BP_SMARTPHONE: "smartphone";
$BP_TABLET: "tablet";
$BP_TABLET_FULLSCREEN: "tablet-fullscreen";
$BP_DESKTOP: "desktop";
$BP_DESKTOP_FULLSCREEN: "desktop-fullscreen";

$DEFAULT_BREAKPOINT: $BP_DESKTOP;
$DEFAULT_BREAKPOINT_FULLWIDTH: $BP_TABLET;

$RESPONSIVE_BREAKPOINTS: (
        $BP_PHONE: 320px,
        $BP_SMARTPHONE: 480px,
        $BP_TABLET: 768px,
        $BP_TABLET_FULLSCREEN: 900px,
        $BP_DESKTOP: 1200px,
        $BP_DESKTOP_FULLSCREEN: 1400px
);

$RESPONSIVE_BREAKPOINTS_MAX: (
        $BP_DESKTOP_FULLSCREEN: map_get($RESPONSIVE_BREAKPOINTS, $BP_DESKTOP_FULLSCREEN) - 1,
        $BP_DESKTOP: map_get($RESPONSIVE_BREAKPOINTS, $BP_DESKTOP) - 1,
        $BP_TABLET_FULLSCREEN: map_get($RESPONSIVE_BREAKPOINTS, $BP_TABLET_FULLSCREEN) - 1,
        $BP_TABLET: map_get($RESPONSIVE_BREAKPOINTS, $BP_TABLET) - 1,
        $BP_SMARTPHONE: map_get($RESPONSIVE_BREAKPOINTS, $BP_SMARTPHONE) - 1,
        $BP_PHONE: map_get($RESPONSIVE_BREAKPOINTS, $BP_PHONE) - 1
);

$DEFAULT_RESPONSIVE_BREAKPOINT: map_get($RESPONSIVE_BREAKPOINTS, $BP_DESKTOP);
$DEFAULT_RESPONSIVE_BREAKPOINT_MAX: map_get($RESPONSIVE_BREAKPOINTS, $BP_DESKTOP) - 1;

$DEFAULT_RESPONSIVE_FULLWIDTH: map_get($RESPONSIVE_BREAKPOINTS, $BP_TABLET);
$DEFAULT_RESPONSIVE_FULLWIDTH_MAX: map_get($RESPONSIVE_BREAKPOINTS, $BP_TABLET) - 1;

$Z_INDEX_MAX: 10;

$POSITIONS_WRAP: $DEFAULT_DIVIDER;
$POSITIONS_MIN: 0;
$POSITIONS_MAX: 64;

$INPUT_DEFAULT_HEIGHT: $DEFAULT_DIVIDER * 9px;