@import "Globals";

$GRID_MAX_FIELDS: 12;

$grid-loop: 0;
$grid-loop-max: 25;

@while $grid-loop <= ($DEFAULT_DIVIDER * $grid-loop-max) {
  .gap-#{$grid-loop} {
    grid-gap: $grid-loop + 0px;
  }

  .gap-row-#{$grid-loop} {
    grid-row-gap: $grid-loop + 0px;
  }

  .gap-column-#{$grid-loop} {
    grid-column-gap: $grid-loop + 0px;
  }

  .gap-column-#{$grid-loop} {
    grid-column-gap: $grid-loop + 0px;
  }

  $grid-loop: $grid-loop + $DEFAULT_DIVIDER;
}


$grid-cols-loop: 1;

@while $grid-cols-loop <= $GRID_MAX_FIELDS {
  .columns-#{$grid-cols-loop} {
    grid-template-columns: repeat(#{$grid-cols-loop}, 1fr);
  }

  .rows-#{$grid-cols-loop} {
    grid-template-rows: repeat(#{$grid-cols-loop}, 1fr);
  }

  $grid-cols-loop: $grid-cols-loop + 1;
}


$grid-col-loop: 1;
$grid-col-sub: 1;

@while $grid-col-loop <= $GRID_MAX_FIELDS {

  @while $grid-col-sub <= $GRID_MAX_FIELDS {

    @if($grid-col-loop == $grid-col-sub){
      .column-#{$grid-col-loop} {
        grid-column: $grid-col-loop;
      }

      .row-#{$grid-col-loop} {
        grid-row: $grid-col-loop;
      }
    }@else if($grid-col-loop < $grid-col-sub){
      .column-#{$grid-col-loop}-#{$grid-col-sub} {
        grid-column: #{$grid-col-loop} / #{$grid-col-sub + 1};
      }

      .row-#{$grid-col-loop}-#{$grid-col-sub} {
        grid-row: #{$grid-col-loop} / #{$grid-col-sub + 1};
      }
    }

    $grid-col-sub: $grid-col-sub + 1;
  }

  $grid-col-loop: $grid-col-loop + 1;
}

.row {
  display: table;
  width: 100%;
}

$row-col-loop: 1;
@while $row-col-loop <= $GRID_MAX_FIELDS {
  .row > .col-#{$row-col-loop} {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
    width: calc(100% / #{$GRID_MAX_FIELDS} * #{$row-col-loop});
  }

  $row-col-loop: $row-col-loop + 1;
}