@import "palette";
@import "globals";

.modal {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0,0,0,0.5);
  padding: $DEFAULT_PADDING_WIDTH;
  cursor: pointer;
}

.modal > .wrapper {
  display: grid;
  width: $DEFAULT_DIVIDER * 150px;
  margin: auto;
  align-items: center;
  grid-template-columns: 100%;
  padding: 0 $DEFAULT_PADDING_WIDTH;
  height: calc(100vh - #{$DEFAULT_PADDING_WIDTH * 2}); /* 100 vertical height - 20px(x2) padding */
  overflow: auto;
}

.modal > .wrapper > .modal-content {
  cursor: auto;
  background-color: map_get($PALETTE, 'white');
  color: map_get($PALETTE, 'gray-900');
  padding: $DEFAULT_PADDING_WIDTH;
  box-sizing: border-box;
  box-shadow: $DEFAULT_BOX_SHADOW;
  border-radius: $DEFAULT_BORDER_RADIUS;
}

.modal > .wrapper > .modal-content > .modal-header {
  padding-bottom: $DEFAULT_PADDING_WIDTH;
  border-bottom: 1px solid map_get($PALETTE, 'gray-200');
  font-size: 20px;
}

.modal > .wrapper > .modal-content > .modal-footer {
  padding-top: $DEFAULT_PADDING_WIDTH;
  border-top: 1px solid map_get($PALETTE, 'gray-200');
  text-align: right;
}

.modal > .wrapper > .modal-content > .modal-body {
  padding: $DEFAULT_PADDING_WIDTH 0;
}

.modal > .wrapper::-webkit-scrollbar{
  width: $DEFAULT_DIVIDER * 2px;
  height: $DEFAULT_DIVIDER * 2px;
  background-color: map_get($PALETTE, 'gray-300');
  border-radius: $DEFAULT_BORDER_RADIUS;
  left: 5px;
}

.modal > .wrapper::-webkit-scrollbar-track{
  border-radius: $DEFAULT_BORDER_RADIUS;
}

.modal > .wrapper::-webkit-scrollbar-thumb{
  background-color: map_get($PALETTE, 'gray-700');
  border-radius: $DEFAULT_BORDER_RADIUS;
}