@import "Palette";
@import "Globals";

$NAVBAR_HEIGHT: $DEFAULT_DIVIDER * 20px;

.navbar {
  display: grid;
  width: 100%;
  min-height: $NAVBAR_HEIGHT;
  z-index: 10;
  color: map_get($PALETTE, 'gray-800');
  word-break: break-word;
}

.navbar .navbar-container {
  display: flex;
  align-items: center;
  position: relative;
  gap: $DEFAULT_PADDING_WIDTH * 2;
  justify-content: space-between;
}

.navbar .navbar-container:not(.container) {
  padding-left: $DEFAULT_PADDING_WIDTH;
  padding-right: $DEFAULT_PADDING_WIDTH;
}





/* Nav item brand + */

 .navbar .navbar-container > .nav-brand {
   font-size: $DEFAULT_FONT_SIZE + 12;
   font-weight: 500;
   color: map_get($PALETTE, 'gray-800');
   display: flex;
   box-sizing: border-box;
   align-items: center;
   justify-content: center;
   transition: $DEFAULT_TRANSITION;
   position: relative;
   order: 1;
 }

/* Nav item brand - */




/* Nav wrapper + */

.navbar .navbar-container > .navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  order: 2;
}

.navbar .navbar-container > .navbar-wrapper > .nav-center,
.navbar .navbar-container > .navbar-wrapper > .nav-right {
  margin-left: auto;
}

.navbar .navbar-container > .navbar-wrapper > .nav-center {
  margin-right: auto;
  margin-left: auto;
  flex: 1;
  text-align: center;
}

.navbar .navbar-container > .navbar-wrapper .navbar-menu {
  display: inline-flex;
  gap: $DEFAULT_PADDING_WIDTH;
}

/* Nav wrapper - */




/* Nav menu items + */

.navbar .navbar-container > .navbar-wrapper .navbar-menu > .nav-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.navbar .navbar-container > .navbar-wrapper .navbar-menu > .nav-item > .nav-link {
  display: flex;
  font-weight: 500;
  color: map_get($PALETTE, 'gray-800');
  position: relative;
  gap: 4px;
  padding: $DEFAULT_DIVIDER * 2px 0;
  transition: $DEFAULT_TRANSITION;
}

.navbar .navbar-container > .navbar-wrapper .navbar-menu > .nav-item > .nav-link:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: map_get($PALETTE, 'gray-800');
  border-radius: $DEFAULT_BORDER_RADIUS;
  transition: $DEFAULT_TRANSITION;
}

.navbar .navbar-container > .navbar-wrapper .navbar-menu > .nav-item:active > .nav-link:after,
.navbar .navbar-container > .navbar-wrapper .navbar-menu > .nav-item.active > .nav-link:after,
.navbar .navbar-container > .navbar-wrapper .navbar-menu > .nav-item:hover > .nav-link:after {
  width: 100%;
}

.navbar .navbar-container > .navbar-wrapper .navbar-menu > .nav-item.active > .nav-link,
.navbar .navbar-container > .navbar-wrapper .navbar-menu > .nav-item:active > .nav-link {

}

/* Nav menu items - */





/* Nav collapse trigger + */

.navbar .navbar-container > .nav-mobile {
  display: none;
  width: $DEFAULT_DIVIDER * 14px;
  text-align: center;
  height: $DEFAULT_DIVIDER * 14px;
  align-items: center;
  justify-content: center;
  border-radius: $DEFAULT_BORDER_RADIUS;
  color: map_get($PALETTE, 'gray-900');
  transition: $DEFAULT_TRANSITION;
  max-width: calc(100% - #{$DEFAULT_DIVIDER * 3px * 2});
  order: 1;
}

.navbar.navbar-active .navbar-container > .nav-mobile,
.navbar .navbar-container > .nav-mobile:hover,
.navbar .navbar-container > .nav-mobile:active {
  background-color: rgba(0,0,0,0.04);
}

.navbar .navbar-container > .nav-mobile .nav-mobile-bars {
  width: 12px;
  height: 2px;
  display: inline-block;
  background-color: map_get($PALETTE, 'gray-800');
  border-radius: 2px;
  position: relative;
}

.navbar .navbar-container > .nav-mobile .nav-mobile-bars:before,
.navbar .navbar-container > .nav-mobile .nav-mobile-bars:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: map_get($PALETTE, 'gray-800');
  position: absolute;
  top: -4px;
  left: 0;
}

.navbar .navbar-container > .nav-mobile .nav-mobile-bars:after {
  top: auto;
  bottom: -4px;
}

/* Nav collapse trigger - */





/*******************************************
*
* Text light theme
*
*******************************************/

.navbar.navbar-text-light {
  color: map_get($PALETTE, 'gray-300');
}




/* Nav item brand + */

.navbar.navbar-text-light .navbar-container > .nav-brand {
  color: map_get($PALETTE, 'gray-600');
}

.navbar.navbar-text-light .navbar-container > .nav-brand:hover {
  color: map_get($PALETTE, 'gray-100');
}

/* Nav item brand - */




/* Nav menu items + */

.navbar.navbar-text-light .navbar-container > .navbar-wrapper .navbar-menu > .nav-item > .nav-link {
  color: map_get($PALETTE, 'gray-300');
}

.navbar.navbar-text-light .navbar-container > .navbar-wrapper .navbar-menu > .nav-item > .nav-link:after {
  background-color: map_get($PALETTE, 'gray-300');
}

/* Nav menu items - */