@import "palette";
@import "globals";

$NAVBAR_HEIGHT: $DEFAULT_DIVIDER * 20px;

.navbar {
  display: block;
  width: 100%;
  height: $NAVBAR_HEIGHT;
  min-height: $NAVBAR_HEIGHT;
  z-index: 10;
  color: map_get($PALETTE, 'gray-800');
  word-break: break-word;
}

.navbar.navbar-text-light {
  color: map_get($PALETTE, 'gray-100');
}

.navbar .navbar-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  position: relative;
}

.navbar .navbar-wrapper > .nav-left,
.navbar .navbar-wrapper > .nav-center,
.navbar .navbar-wrapper > .nav-right {
  height: 100%;
  font-size: 0;
}

.navbar .navbar-wrapper > .nav-left {

}

.navbar .navbar-wrapper > .nav-center {
  text-align: center;
}

.navbar .navbar-wrapper > .nav-right {
  text-align: right;
  justify-self: end;
}

.navbar .navbar-wrapper > .nav-left > *,
.navbar .navbar-wrapper > .nav-center > *,
.navbar .navbar-wrapper > .nav-right > * {
  font-size: $DEFAULT_FONT_SIZE;
}

.navbar .navbar-wrapper .navbar-menu {
  font-size: 0;
  height: 100%;
  display: inline-block;
}

.navbar .navbar-wrapper .navbar-menu > li {
  list-style: none;
  font-size: $DEFAULT_FONT_SIZE;
  display: inline-grid;
  align-items: center;
  min-width: $NAVBAR_HEIGHT;
  height: 100%;
  text-align: center;
  position: relative;
}

.navbar .navbar-wrapper .nav-brand,
.navbar .navbar-wrapper .nav-mobile,
.navbar .navbar-wrapper .nav-item,
.navbar .navbar-wrapper .nav-link {
  display: block;
  box-sizing: border-box;
  line-height: $NAVBAR_HEIGHT - 1;
  height: $NAVBAR_HEIGHT;
  padding: 0 ($DEFAULT_DIVIDER * 4px);
  color: map_get($PALETTE, 'gray-900');
  transition: $DEFAULT_TRANSITION;
  position: relative;
  min-width: $NAVBAR_HEIGHT;
}

.navbar.navbar-text-light .navbar-wrapper .nav-brand,
.navbar.navbar-text-light .navbar-wrapper .nav-mobile,
.navbar.navbar-text-light .navbar-wrapper .nav-item,
.navbar.navbar-text-light .navbar-wrapper .nav-link{
  color: map_get($PALETTE, 'gray-50');
}

.navbar .navbar-wrapper .nav-link {
  font-weight: 500;
  color: map_get($PALETTE, 'gray-800');
  position: relative;
}

.navbar.navbar-text-light .navbar-wrapper .nav-link {
  color: map_get($PALETTE, 'gray-100');
}

.navbar .navbar-wrapper .nav-link:after {
  content: "";
  display: block;
  position: absolute;
  bottom: $DEFAULT_DIVIDER * 6px;
  left: $DEFAULT_DIVIDER * 4px - 2;
  width: 0;
  height: 2px;
  background-color: map_get($PALETTE, 'gray-800');
  border-radius: $DEFAULT_BORDER_RADIUS;
  transition: $DEFAULT_TRANSITION;
}

.navbar.navbar-text-light .navbar-wrapper .nav-link:after {
  background-color: map_get($PALETTE, 'gray-100');
}

.navbar .navbar-wrapper .nav-link:active:after,
.navbar .navbar-wrapper .nav-link.active:after,
.navbar .navbar-wrapper .nav-link:hover:after {
  width: calc(100% - (#{$DEFAULT_DIVIDER * 4px - 2} * 2));
}

.navbar .navbar-wrapper .nav-brand {
  font-size: $DEFAULT_FONT_SIZE + 12;
  font-weight: 500;
  color: map_get($PALETTE, 'gray-800');
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.navbar.navbar-text-light .navbar-wrapper .nav-brand {
  color: map_get($PALETTE, 'gray-100');
}

.navbar .navbar-wrapper .nav-mobile {
  display: none;
  text-align: center;
  float: right;
}

.navbar .navbar-wrapper .nav-link:hover,
.navbar .navbar-wrapper .nav-link.active {
  color: map_get($PALETTE, 'black');
}

.navbar.navbar-text-light .navbar-wrapper .nav-link:hover,
.navbar.navbar-text-light .navbar-wrapper .nav-link.active {
  color: map_get($PALETTE, 'white');
}

.navbar .navbar-wrapper .nav-submenu {
  display: none;
  position: absolute;
  top: calc(100% + #{$DEFAULT_DIVIDER * 2px});
  right: 0;
  width: $DEFAULT_DIVIDER * 60px;
  background-color: map_get($PALETTE, 'white');
  box-shadow: $DEFAULT_BOX_SHADOW;
  border-radius: $DEFAULT_BORDER_RADIUS;
  padding: ($DEFAULT_DIVIDER + 0px) 0;
  z-index: 5;
}

.navbar .navbar-wrapper .nav-submenu.active {
  display: block;
}

.navbar .navbar-wrapper .nav-submenu.left-pos {
  right: auto;
  left: 0;
}

.navbar .navbar-wrapper .nav-submenu > li {
  list-style: none;
  font-size: $DEFAULT_FONT_SIZE - 2;
  display: block;
  min-width: $DEFAULT_DIVIDER * 12px;
  height: 100%;
  text-align: left;
  position: relative;
  width: 100%;
}

.navbar .navbar-wrapper .nav-submenu .nav-item,
.navbar .navbar-wrapper .nav-submenu .nav-link {
  display: block;
  padding: ($DEFAULT_DIVIDER * 4px) ($DEFAULT_DIVIDER * 5px);
  color: map_get($PALETTE, 'gray-800');
  line-height: $DEFAULT_DIVIDER * 5px;
  height: auto;
}

.navbar .navbar-wrapper .nav-submenu .nav-item {
  color: map_get($PALETTE, 'gray-700');
  position: relative;
}

.navbar .navbar-wrapper .nav-submenu .nav-link:after {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 0;
  background-color: map_get($PALETTE, 'gray-800');
}

.navbar .navbar-wrapper .nav-submenu .nav-link:hover,
.navbar .navbar-wrapper .nav-submenu .nav-link.active {
  background-color: rgba(0,0,0,0.04);
  color: map_get($PALETTE, 'black');
}

.navbar .navbar-wrapper .nav-submenu .nav-link:hover:after,
.navbar .navbar-wrapper .nav-submenu .nav-link.active:after {
  width: $DEFAULT_DIVIDER + 0px;
}

.navbar .navbar-wrapper .nav-submenu .nav-submenu {
  right: 100%;
  top: $DEFAULT_DIVIDER * -1px;
}

.navbar .navbar-wrapper .nav-submenu .nav-submenu.left-pos {
  right: auto;
  left: 100%;
}

.navbar .navbar-wrapper .navbar-menu > li > .nav-submenu:before {
  display: block;
  content: "";
  position: absolute;
  top: $DEFAULT_DIVIDER * -2px;
  right: $DEFAULT_DIVIDER * 7px;
  width: 0;
  height: 0;
  border-left: ($DEFAULT_DIVIDER * 2px) solid transparent;
  border-right: ($DEFAULT_DIVIDER * 2px) solid transparent;
  border-bottom: ($DEFAULT_DIVIDER * 2px) solid map_get($PALETTE, 'gray-800');
}