@import "Palette";
@import "Globals";

.pagination {
  display: inline-flex;
  vertical-align: middle;
  margin: auto;
  flex-wrap: wrap;
  gap: #{$DEFAULT_DIVIDER}px;
  background-color: map_get($PALETTE, 'white');
  box-sizing: border-box;
  box-shadow: $DEFAULT_BOX_SHADOW;
  border-radius: $DEFAULT_BORDER_RADIUS;
  padding: $DEFAULT_DIVIDER * 3px;
}

.pagination > .pagination-page {
  list-style: none;
  font-size: $DEFAULT_FONT_SIZE + 4;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

.pagination > .pagination-page > a {
  color: map_get($PALETTE, 'gray-700');
  text-align: center;
  border: 0;
  padding: $DEFAULT_DIVIDER * 2px $DEFAULT_DIVIDER * 3px;
  min-width: $DEFAULT_DIVIDER * 9px;
  line-height: $DEFAULT_DIVIDER * 5px;
  display: block;
  width: 100%;
  font-size: $DEFAULT_FONT_SIZE;
  border-radius: $DEFAULT_BORDER_RADIUS;
  transition: $DEFAULT_TRANSITION;
  position: relative;
  font-weight: 500;
}

.pagination > .pagination-page > a svg {
  position: relative;
  top: 1px;
}

.pagination > .pagination-page > a:hover {
  background-color: map_get($PALETTE, 'blue');
  color: map_get($PALETTE, 'white');
}

.pagination > .pagination-page > a:active {
  background-color: map_get($PALETTE, 'blue-50');
  color: map_get($PALETTE, 'gray-700');
}

.pagination > .pagination-page.active > a {
  background-color: map_get($PALETTE, 'gray-200');
  color: map_get($PALETTE, 'gray-700');
}

.pagination > .pagination-page.disabled > a {
  background-color: map_get($PALETTE, 'gray-100');
  color: map_get($PALETTE, 'gray-400');
  cursor: default;
}

.pagination-block {
  padding: $DEFAULT_PADDING_WIDTH 0;
  position: relative;
  min-height: $DEFAULT_DIVIDER * 10px;
}