@import "palette";
@import "globals";

.poplight-overlay {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 8000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity $DEFAULT_TRANSITION_MOVING;
}

.poplight-overlay.active {
  visibility: visible;
  opacity: 1;
}

.poplight-box {
  z-index: 8001;
  background-color: map_get($PALETTE, 'white');
  box-shadow: rgba(255, 255, 255, 0.12) 0 1px 6px, rgba(255, 255, 255, 0.12) 0 1px 4px;
}

.poplight-overlay.active.canclose {
  cursor: pointer;
}

.poplight-message {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 8002;
  transition: opacity $DEFAULT_TRANSITION_MOVING;
  background-color: map_get($PALETTE, 'white');
  box-shadow: rgba(255, 255, 255, 0.12) 0 1px 6px, rgba(255, 255, 255, 0.12) 0 1px 4px;
  border-radius: $DEFAULT_BORDER_RADIUS * 12;
  padding: $DEFAULT_PADDING_WIDTH;
  max-width: $DEFAULT_DIVIDER * 80px;
}

.poplight-message.active {
  visibility: visible;
  opacity: 0.7;
}

.poplight-message.active:hover {
  opacity: 1;
}

.poplight-message:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
}

.poplight-message:hover:after {
  opacity: 1;
}

.poplight-message.poplight-top.poplight-left {
  border-radius: $DEFAULT_PADDING_WIDTH $DEFAULT_PADDING_WIDTH 0 $DEFAULT_PADDING_WIDTH;
}

.poplight-message.poplight-top.poplight-left:after {
  border-top: ($DEFAULT_DIVIDER * 2px) solid map_get($PALETTE, 'white');
  border-left: ($DEFAULT_DIVIDER * 4px) solid transparent;
  top: 100%;
  right: 0;
}

.poplight-message.poplight-top.poplight-right {
  border-radius: ($DEFAULT_BORDER_RADIUS * 12) ($DEFAULT_BORDER_RADIUS * 12) ($DEFAULT_BORDER_RADIUS * 12) 0;
}

.poplight-message.poplight-top.poplight-right:after {
  border-top: ($DEFAULT_DIVIDER * 2px) solid map_get($PALETTE, 'white');
  border-right: ($DEFAULT_DIVIDER * 4px) solid transparent;
  top: 100%;
  left: 0;
}

.poplight-message.poplight-bottom.poplight-left {
  border-radius: ($DEFAULT_BORDER_RADIUS * 12) 0 ($DEFAULT_BORDER_RADIUS * 12) ($DEFAULT_BORDER_RADIUS * 12);
}

.poplight-message.poplight-bottom.poplight-left:after {
  border-bottom: ($DEFAULT_DIVIDER * 2px) solid map_get($PALETTE, 'white');
  border-left: ($DEFAULT_DIVIDER * 4px) solid transparent;
  bottom: 100%;
  right: 0;
}

.poplight-message.poplight-bottom.poplight-right {
  border-radius: 0 ($DEFAULT_BORDER_RADIUS * 12) ($DEFAULT_BORDER_RADIUS * 12) ($DEFAULT_BORDER_RADIUS * 12);
}

.poplight-message.poplight-bottom.poplight-right:after {
  border-bottom: ($DEFAULT_DIVIDER * 2px) solid map_get($PALETTE, 'white');
  border-right: ($DEFAULT_DIVIDER * 4px) solid transparent;
  bottom: 100%;
  left: 0;
}

.poplight-message .poplight-message-close {
  position: absolute;
  top: ($DEFAULT_DIVIDER * -4px);
  right: ($DEFAULT_DIVIDER * -4px);
  width: ($DEFAULT_DIVIDER * 4px);
  height: ($DEFAULT_DIVIDER * 4px);
  line-height: ($DEFAULT_DIVIDER * 4px);
  color: rgba(255,255,255,0.8);
  text-align: center;
  font-weight: 500;
  font-size: $DEFAULT_FONT_SIZE + 6;
  display: block;
}