@import "Palette";
@import "Globals";

$PROGRESS_HEIGHT: $DEFAULT_DIVIDER * 7px;
$LABEL_HEIGHT: $DEFAULT_DIVIDER * 6px;

.progress {
  margin-top: $LABEL_HEIGHT;
}

.progress[data-progress-type="linear"] {
  width: 100%;
  height: $PROGRESS_HEIGHT;
  position: relative;
  background-color: map_get($PALETTE, 'gray-900');
  border-radius: $DEFAULT_BORDER_RADIUS;
  padding: $DEFAULT_DIVIDER + 0px;
}

.progress[data-progress-type="linear"] > .progress-bar {
  height: 100%;
  width: 0;
  border-radius: $DEFAULT_BORDER_RADIUS;
  background-color: map_get($PALETTE, 'white');
  position: relative;
  max-width: 100%;
  transition: $DEFAULT_TRANSITION;
}

.progress[data-progress-type="linear"] > .progress-text,
.progress[data-progress-type="linear"] > .progress-label {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  font-size: $DEFAULT_FONT_SIZE - 2;
  color: map_get($PALETTE, 'gray-800');
  width: 100%;
  line-height: $PROGRESS_HEIGHT;
}

.progress[data-progress-type="linear"] > .progress-label {
  top: auto;
  bottom: 100%;
  line-height: $LABEL_HEIGHT;
  color: map_get($PALETTE, 'gray-900');
}




.progress[data-progress-type="radial"] {
  display: inline-block;
  margin: auto;
  position: relative;
  border-radius: 50%;
}

.progress[data-progress-type="radial"] > .progress-bar {
  display: block;
}

.progress[data-progress-type="radial"] > .progress-text {
  z-index: 3;
  position: absolute;
  left: 0;
  bottom: calc(50% - #{$DEFAULT_DIVIDER}px);
  width: 100%;
  color: map_get($PALETTE, 'gray-900');
  text-align: center;
  font-weight: 500;
  font-size: $DEFAULT_FONT_SIZE + 6;
  text-shadow: 0 0 ($DEFAULT_DIVIDER * 4px) map_get($PALETTE, 'white');
}

.progress[data-progress-type="radial"] > .progress-label {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  color: map_get($PALETTE, 'gray-600');
  text-align: center;
  text-transform: uppercase;
  font-size: $DEFAULT_FONT_SIZE - 4;
  text-shadow: 0 0 ($DEFAULT_DIVIDER * 3px) map_get($PALETTE, 'white');
  line-height: $PROGRESS_HEIGHT;
}