@import "palette";
@import "globals";

$size-loop: 0;
$size-loop-max: 80;

@while $size-loop <= $size-loop-max {
  .fs-#{$size-loop} {
    font-size: #{$size-loop}px;
  }

  .fs-#{$size-loop}-i {
    font-size: #{$size-loop}px !important;
  }

  $size-loop: $size-loop + 2;
}

$size-loop: 0;
$size-loop-max: 100;

@while $size-loop <= $size-loop-max {
  .w-#{$size-loop} {
    width: $size-loop + 0%;
  }

  .w-#{$size-loop}-i {
    width: #{$size-loop + 0%} !important;
  }

  .w-#{$size-loop}px {
    width: #{$size-loop}px;
  }

  .w-#{$size-loop}px-i {
    width: #{$size-loop}px !important;
  }

  .h-#{$size-loop} {
    height: $size-loop + 0%;
  }

  .h-#{$size-loop}-i {
    height: #{$size-loop + 0%} !important;
  }

  .h-#{$size-loop}px {
    height: #{$size-loop}px;
  }

  .h-#{$size-loop}px-i {
    height: #{$size-loop}px !important;
  }

  .lh-#{$size-loop} {
    line-height: #{$size-loop}px;
  }

  .lh-#{$size-loop}-i {
    line-height: #{$size-loop}px !important;
  }

  $size-loop: $size-loop + 1;
}

$rad-loop: 0;
$rad-loop-max: 64;

@while $rad-loop <= $rad-loop-max {
  .fs-#{$rad-loop} {
    font-size: #{$rad-loop}px;
  }

  .fs-#{$rad-loop}-i {
    border-radius: #{$rad-loop}px !important;
  }

  $rad-loop: $rad-loop + 2;
}

.w-auto { width: auto; }
.w-auto-i { width: auto !important; }

.h-auto { height: auto; }
.h-auto-i { height: auto !important; }

.lh-normal { line-height: normal; }
.lh-normal-i { line-height: normal !important; }