@import "Globals";
@import "Palette";

.slider {
  display: block;
  position: relative;
  width: 100%;
  height: 360px;
  box-shadow: $DEFAULT_BOX_SHADOW;
  border-radius: $DEFAULT_BORDER_RADIUS;
}


//data-slider-pause

.slider:before,
.slider:after {
  content: "";
  display: block;
  background-color: map_get($PALETTE, 'white');
  width: #{$DEFAULT_DIVIDER}px;
  height: $DEFAULT_DIVIDER * 3px;
  position: absolute;
  top: $DEFAULT_PADDING_WIDTH;
  right: $DEFAULT_PADDING_WIDTH;
  z-index: 3;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  opacity: 0;
  transition: opacity $DEFAULT_TRANSITION_MOVING;
}

.slider:before {
  margin-right: $DEFAULT_DIVIDER * 2px;
}

.slider[data-slider-pause="true"]:before,
.slider[data-slider-pause="true"]:after {
  opacity: 1;
}



.slider > .slider-arrow {
  position: absolute;
  top: calc(50% - 32px);
  cursor: pointer;
  z-index: 5;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #fff;
  text-shadow: $DEFAULT_TEXT_SHADOW;
  filter: drop-shadow($DEFAULT_TEXT_SHADOW);
}

.slider > .slider-arrow[data-slider-arrow="prev"] {
  left: $DEFAULT_PADDING_WIDTH;
}

.slider > .slider-arrow[data-slider-arrow="next"] {
  right: $DEFAULT_PADDING_WIDTH;
}



.slider > .slider-labels {
  position: absolute;
  bottom: $DEFAULT_PADDING_WIDTH;
  padding: 0 $DEFAULT_PADDING_WIDTH;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 5;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.slider > .slider-labels > .slider-label {
  width: 36px;
  height: 8px;
  border-radius: $DEFAULT_BORDER_RADIUS;
  background-color: map_get($PALETTE, 'white');
  box-shadow: $DEFAULT_BOX_SHADOW;
  pointer-events: auto;
  cursor: pointer;
  transition: $DEFAULT_TRANSITION;
}

.slider > .slider-labels > .slider-label.active {
  box-shadow: $DEFAULT_BOX_SHADOW_ACTIVE;
  background-color: map_get($PALETTE, 'gray-700');
}



.slider > .slider-list {
  overflow: hidden;
  border-radius: $DEFAULT_BORDER_RADIUS;
  position: relative;
  height: 100%;
  width: 100%;
}

.slider > .slider-list > .slider-slide {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  padding: $DEFAULT_PADDING_WIDTH;
}

.slider[data-slider-animation] > .slider-list > .slider-slide.active {
  z-index: 2;
}

.slider[data-slider-animation=""] > .slider-list > .slider-slide {
  opacity: 0;
}

.slider[data-slider-animation=""] > .slider-list > .slider-slide.active {
  opacity: 1;
}



.slider[data-slider-animation=""].slide-animation > .slider-list > .slider-slide {
  transition: opacity 1ms;
}



.slider[data-slider-animation=""].slide-animation > .slider-list > .slider-slide.slide-animation-left.active,
.slider[data-slider-animation=""].slide-animation > .slider-list > .slider-slide.slide-animation-right.active {
  opacity: 0;
}

.slider[data-slider-animation=""].slide-animation > .slider-list > .slider-slide.slide-animation-left:not(.active),
.slider[data-slider-animation=""].slide-animation > .slider-list > .slider-slide.slide-animation-right:not(.active) {
  opacity: 1;
}


/* Animation type "slide" + */

.slider[data-slider-animation="slide"] > .slider-list > .slider-slide {
  left: 100%;
}

.slider[data-slider-animation="slide"] > .slider-list > .slider-slide.active {
  left: 0;
}

.slider[data-slider-animation="slide"] > .slider-list > .slider-slide.slide-animation-left:not(.active) {
  left: 100%;
}


.slider[data-slider-animation="slide"] > .slider-list > .slider-slide.slide-animation-right:not(.active) {
  left: -100%;
}



.slider[data-slider-animation="slide"].slide-animation > .slider-list > .slider-slide {
  transition: left 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}



.slider[data-slider-animation="slide"].slide-animation > .slider-list > .slider-slide.slide-animation-left.active {
  left: -100%;
}

.slider[data-slider-animation="slide"].slide-animation > .slider-list > .slider-slide.slide-animation-left:not(.active) {
  left: 0;
}



.slider[data-slider-animation="slide"].slide-animation > .slider-list > .slider-slide.slide-animation-right.active {
  left: 100%;
}

.slider[data-slider-animation="slide"].slide-animation > .slider-list > .slider-slide.slide-animation-right:not(.active) {
  left: 0;
}

/* Animation type "slide" - */



/* Animation type "fade" + */

.slider[data-slider-animation="fade"] > .slider-list > .slider-slide {
  opacity: 0;
}

.slider[data-slider-animation="fade"] > .slider-list > .slider-slide.active {
  opacity: 1;
}



.slider[data-slider-animation="fade"].slide-animation > .slider-list > .slider-slide {
  transition: opacity $DEFAULT_TRANSITION_MOVING;
}



.slider[data-slider-animation="fade"].slide-animation > .slider-list > .slider-slide.slide-animation-left.active,
.slider[data-slider-animation="fade"].slide-animation > .slider-list > .slider-slide.slide-animation-right.active {
  opacity: 0;
}

.slider[data-slider-animation="fade"].slide-animation > .slider-list > .slider-slide.slide-animation-left:not(.active),
.slider[data-slider-animation="fade"].slide-animation > .slider-list > .slider-slide.slide-animation-right:not(.active) {
  opacity: 1;
}

/* Animation type "fade" - */