@import "Palette";
@import "Globals";

.table {
  display: table;
  width: 100%;
  box-sizing: border-box;
  word-break: break-word;
}

.table.table-fixed {
  table-layout: fixed;
}

.table .table-row {
  display: table-row;
  box-sizing: border-box;
}

.table .table-header {
  display: table-header-group;
  box-sizing: border-box;
}

.table .table-body {
  display: table-row-group;
  box-sizing: border-box;
}

.table .table-footer {
  display: table-footer-group;
  box-sizing: border-box;
}

.table .table-column {
  display: table-column;
  box-sizing: border-box;
}

.table .table-col-group {
  display: table-column-group;
  box-sizing: border-box;
}

.table .table-cell {
  display: table-cell;
  padding: $DEFAULT_DIVIDER * 2px;
  box-sizing: border-box;
  vertical-align: top;
  border-bottom: 1px solid map_get($PALETTE, 'gray-200');
  height: 100%;
}

.table .table-caption {
  display: table-caption;
  box-sizing: border-box;
}

.table .table-cell-resp {
  display: none;
  box-sizing: border-box;
  font-weight: 500;
  color: map_get($PALETTE, 'gray-700');
  font-size: $DEFAULT_FONT_SIZE - 2;
  text-transform: uppercase;
  border-bottom: 1px solid map_get($PALETTE, 'gray-300');
  height: 100%;
  padding: $DEFAULT_DIVIDER * 2px;
  text-align: right;
  background-color: map_get($PALETTE, 'gray-200');
}

.table.table-hover .table-row:hover:nth-child(2n) {
  background-color: rgba(0,0,0,0.05);
}

.table .table-header > .table-row > .table-cell {
  border-top: 1px solid map_get($PALETTE, 'gray-200');
  border-bottom: 1px solid map_get($PALETTE, 'gray-200');
  font-weight: 500;
  color: map_get($PALETTE, 'gray-700');
  font-size: $DEFAULT_FONT_SIZE - 2;
  text-transform: uppercase;
}

.table .table-row > .table-cell:last-child {
  text-align: right;
}