@import "palette";
@import "globals";

$TABS_MENU_SIZE: $DEFAULT_DIVIDER * 70px; // if $DEFAULT_DIVIDER = 4 > $TABS_MENU_SIZE = 280px

.tabs {
  display: grid;
  align-items: start;
  grid-template-columns: 100%;
}

.tabs.tabs-horizontal {
  grid-template-columns: $TABS_MENU_SIZE calc(100% - #{$TABS_MENU_SIZE});
}

.tabs > .tab-links {
  font-size: 0;
  background-color: map_get($PALETTE, 'blue');
  border-radius: $DEFAULT_BORDER_RADIUS $DEFAULT_BORDER_RADIUS 0 0;
  box-sizing: border-box;
  display: block;
  padding: 0 $DEFAULT_PADDING_WIDTH;
  height: 100%;
}

.tabs.tabs-horizontal > .tab-links {
  border-radius: $DEFAULT_BORDER_RADIUS 0 0 $DEFAULT_BORDER_RADIUS;
  padding: 0;
}

.tabs > .tab-links > li {
  font-size: $DEFAULT_FONT_SIZE - 2;
  display: inline-block;
  vertical-align: top;
}

.tabs.tabs-horizontal > .tab-links > li {
  display: block;
  width: 100%;
}

.tabs > .tab-links > li .tab-link {
  line-height: $DEFAULT_DIVIDER * 15px;
  height: $DEFAULT_DIVIDER * 15px;
  min-width: $DEFAULT_DIVIDER * 15px;
  box-sizing: border-box;
  display: block;
  padding: 0 ($DEFAULT_DIVIDER * 7px);
  font-weight: 500;
  color: map_get($PALETTE, 'gray-50');
  transition: $DEFAULT_TRANSITION;
  position: relative;
  background: none;
  border: 0;
  text-align: left;
  width: 100%;
}

.tabs.tabs-horizontal > .tab-links > li .tab-link {
  padding: 0 $DEFAULT_PADDING_WIDTH;
  border: 0;
  border-left: ($DEFAULT_DIVIDER * 1px) solid transparent;
}

.tabs > .tab-links > li .tab-link:hover,
.tabs > .tab-links > li .tab-link.active {
  border-bottom: ($DEFAULT_DIVIDER * 1px) solid map_get($PALETTE, 'gray-50');
}

.tabs.tabs-horizontal > .tab-links > li .tab-link:hover,
.tabs.tabs-horizontal > .tab-links > li .tab-link.active {
  border: 0;
  border-left: ($DEFAULT_DIVIDER * 1px) solid map_get($PALETTE, 'gray-50');
}

.tabs > .tab-list {
  height: 100%;
}

.tabs > .tab-list > .tab-id {
  display: none;
  padding: $DEFAULT_PADDING_WIDTH 0;
  border-radius: 0 0 $DEFAULT_BORDER_RADIUS $DEFAULT_BORDER_RADIUS;
}

.tabs.tabs-horizontal > .tab-list > .tab-id {
  border-radius: 0 $DEFAULT_BORDER_RADIUS $DEFAULT_BORDER_RADIUS 0;
  padding: ($DEFAULT_DIVIDER * 2px) $DEFAULT_PADDING_WIDTH;
  height: 100%;
}

.tabs > .tab-list > .tab-id.active {
  display: block;
}