@import "Palette";
@import "Globals";

$TAGSELECTOR_MAX_HEIGHT: $DEFAULT_DIVIDER * 70px;
$TAGSELECTOR_LINK_HEIGHT: $DEFAULT_DIVIDER * 8px;

.tagselector {
  display: block;
  padding-top: $DEFAULT_DIVIDER * 2px;
}

.tagselector > .tagselector-list {
  font-size: $DEFAULT_FONT_SIZE;
  display: flex;
  gap: #{$DEFAULT_DIVIDER}px;
  flex-wrap: wrap;
}

.tagselector > .tagselector-list > .tagselector-item {
  max-width: $TAGSELECTOR_MAX_HEIGHT;
  padding: 0 ($DEFAULT_DIVIDER * 2px);
  height: $TAGSELECTOR_LINK_HEIGHT;
  line-height: $TAGSELECTOR_LINK_HEIGHT;
  border-radius: $DEFAULT_BORDER_RADIUS;
  background-color: map_get($PALETTE, 'gray-200');
  color: map_get($PALETTE, 'gray-800');
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: $DEFAULT_TRANSITION;
  cursor: pointer;
}

.tagselector > .tagselector-list > .tagselector-item:hover {
  text-decoration: line-through;
  color: map_get($PALETTE, 'white');
  background-color: map_get($PALETTE, 'gray-600');
}