@import "Palette";
@import "Globals";

.textarea {
  position: relative;
}

.textarea > textarea {
  height: 100%;
  scrollbar-width: thin;
  padding-left: $DEFAULT_DIVIDER * 3px + 40px;
  white-space: pre;
}

.textarea > textarea:focus {
}

.textarea > .textarea-copy {
  background-color: map_get($PALETTE, 'gray-100');
  color: map_get($PALETTE, 'gray-600');
  padding: #{$DEFAULT_DIVIDER}px $DEFAULT_DIVIDER * 2px;
  border-radius: $DEFAULT_BORDER_RADIUS;
  position: absolute;
  top: $DEFAULT_PADDING_WIDTH;
  right: $DEFAULT_PADDING_WIDTH;
  opacity: 0;
  display: block;
  pointer-events: none;
  z-index: 2;
  transition: opacity $DEFAULT_TRANSITION_MOVING;
  font-size: $DEFAULT_FONT_SIZE - 2;
}

.textarea > .textarea-copy.visible {
  opacity: 1;
}

.textarea > .textarea-list {
  min-width: 40px;
  background-color: map_get($PALETTE, 'gray-700');
  position: absolute;
  padding: $DEFAULT_DIVIDER * 3px 0;
  top: 0;
  z-index: 1;
  left: 0;
  height: 100%;
  border-radius: $DEFAULT_BORDER_RADIUS 0 0 $DEFAULT_BORDER_RADIUS;
  overflow: hidden;
  font-size: $DEFAULT_FONT_SIZE - 2;
  color: map_get($PALETTE, 'gray-400');
  line-height: $DEFAULT_DIVIDER * 5px;
}

.textarea > .textarea-list > .textarea-list-item {
  list-style: none;
  padding: 0 $DEFAULT_DIVIDER * 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  transition: color $DEFAULT_TRANSITION_MOVING;
}

.textarea > .textarea-list > .textarea-list-item:hover {
  color: map_get($PALETTE, 'gray-200');
}