@import "palette";
@import "globals";

.textarea {
  position: relative;
  box-sizing: border-box;
  background-color: map_get($PALETTE, 'white');
}

.textarea > textarea {
  line-height: $DEFAULT_DIVIDER * 5px;
  padding-left: $DEFAULT_DIVIDER * 12px;
  z-index: 1;
  background-color: transparent;
  font-size: $DEFAULT_FONT_SIZE;
}

.textarea > .textarea-numbers {
  display: block;
  position: absolute;
  max-height: 100%;
  overflow: hidden;
  z-index: 2;
  left: 0;
  top: 0;
  width: $DEFAULT_DIVIDER * 10px;
  border-radius: $DEFAULT_BORDER_RADIUS 0 0 $DEFAULT_BORDER_RADIUS;
  background-color: map_get($PALETTE, 'gray-600');
  height: 100%;
}

.textarea > .textarea-numbers > ul {
  padding: ($DEFAULT_DIVIDER * 1px) 0;
  position: relative;
  box-sizing: border-box;
}

.textarea > .textarea-numbers > ul > li {
  display: block;
  width: 100%;
  list-style: none;
  text-align: center;
  font-size: $DEFAULT_FONT_SIZE - 4;
  position: relative;
}

.textarea > .textarea-numbers > ul > li > a {
  color: map_get($PALETTE, 'white');
  box-sizing: border-box;
  padding: 0 ($DEFAULT_DIVIDER * 1px);
  height: ($DEFAULT_DIVIDER * 5px);
  line-height: ($DEFAULT_DIVIDER * 5px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.textarea > .textarea-numbers > ul > li:last-child > a {
  border: 0;
}