@import "palette";
@import "globals";

$TOOLTIP_MAX_WIDTH: $DEFAULT_DIVIDER * 60px;

.tooltip {
  position: absolute;
  display: none;
  left: -9999px;
  top: -9999px;
  background-color: rgba(0,0,0,0.8);
  border-radius: $DEFAULT_BORDER_RADIUS;
  padding: ($DEFAULT_DIVIDER * 1px) ($DEFAULT_DIVIDER * 2px);
  color: map_get($PALETTE, 'white');
  max-width: $TOOLTIP_MAX_WIDTH;
  word-break: break-word;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  text-align: center;
  transition: opacity $DEFAULT_TRANSITION_MOVING;
}

.tooltip.tooltip-pos-left,
.tooltip.tooltip-pos-right,
.tooltip.tooltip-pos-top,
.tooltip.tooltip-pos-bottom,
.tooltip.tooltip-pos{
  display: block;
}

.tooltip.show {
  visibility: visible;
  opacity: 1;
}

.tooltip:not(.show){
  left: -9999px !important;
  top: -9999px !important;
}

.tooltip:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: ($DEFAULT_DIVIDER * 1px) solid transparent;
  border-right: ($DEFAULT_DIVIDER * 1px) solid transparent;
  border-top: ($DEFAULT_DIVIDER * 1px) solid rgba(0,0,0,0.8);
  position: absolute;
  top: 100%;
  left: calc(50% - #{$DEFAULT_DIVIDER}px);
}

.tooltip.tooltip-pos-left:after {
  border-right: 0;
  border-top: ($DEFAULT_DIVIDER * 1px) solid transparent;
  border-bottom: ($DEFAULT_DIVIDER * 1px) solid transparent;
  border-left: ($DEFAULT_DIVIDER * 1px) solid rgba(0,0,0,0.8);
  left: 100%;
  top: calc(50% - #{$DEFAULT_DIVIDER}px);
}

.tooltip.tooltip-pos-right:after {
  border-left: 0;
  border-top: ($DEFAULT_DIVIDER * 1px) solid transparent;
  border-bottom: ($DEFAULT_DIVIDER * 1px) solid transparent;
  border-right: ($DEFAULT_DIVIDER * 1px) solid rgba(0,0,0,0.8);
  left: -#{$DEFAULT_DIVIDER}px;
  top: calc(50% - #{$DEFAULT_DIVIDER}px);
}

.tooltip.tooltip-pos-bottom:after {
  border-top: 0;
  border-left: ($DEFAULT_DIVIDER * 1px) solid transparent;
  border-right: ($DEFAULT_DIVIDER * 1px) solid transparent;
  border-bottom: ($DEFAULT_DIVIDER * 1px) solid rgba(0,0,0,0.8);
  left: calc(50% - #{$DEFAULT_DIVIDER}px);
  top: -#{$DEFAULT_DIVIDER}px;
}
